

%ol.hide{ :id => 'upload-scans-milestone-1', :data => { :enable => 'm-teacher-workbench', :onwards => :true }}
  %li{ :data => { :id => 'm-teacher-workbench' } }
    %h6= "#1"
    %p
      Click here and select <b>Download Scanbot</b> from the menu to download
      and install a small application. For now, this application is available 
      for <b>Microsoft Windows</b> computers only
    %p
      <b>Scanbot</b> launches automatically and is visible only as a 
      little icon <i class='ikon-scanbot'></i>in the application tray, 
      right beside the clock.
    %p
      To send us worksheets collected from students, put them through
      a scanner and save them as plain black and white documents(PDF)
      or as images(JPG) in a special folder <i class='ikon-scanbot-folder'></i>
      <b>Scantray</b> on your <b>Desktop</b>. <b>Scantray</b> has already been 
      created for you by <b>Scanbot</b>
    %p
      That's it! <b>Scanbot</b> will do the rest.

