

%ol.hide{ :id => 'upload-scans-milestone-1', :data => { :enable => 'm-teacher-workbench', :onwards => :true }}
  %li{ :data => { :id => 'm-teacher-workbench' } }
    %h6= "#1"
    %p
      Click here and select <b>Upload Scans</b> from the menu. Allow the app <b>Scanbot</b> to download and then install.
