
%ol.hide{ id: 'exb-milestone-2', data: { onwards: :true }}
  %li{ data: { id: 'exb-ul-milestone-2' } }
    %h6= "#2"
    %p
      <b>Select a group</b> from the list of groups shown here
    %p
      If you haven't yet made a Group of your own, then you would 
      see a default group we created for you - called Gradians
    %p
      Select it if its the only group you see. Gradians has just two 
      students - us - the two founders of Gradians.com. For now, however,
      we are also your students
