

%ol.hide{ id: 'mng-sektions-milestone-1', data: { :enable => 'm-teacher-workbench', :onwards => :true }}
  %li{ data: { id: 'm-teacher-workbench' } }
    %h6= "#1"
    %p
      Click here and then select <b>My Groups</b> from the menu
