

%ol.hide{ id: 'mng-sektions-milestone-2', data: { :enable => 'm-teacher-workbench', :onwards => :true }}
  %li{ data: { id: 'lnk-add-sektion', :options => 'tipLocation:top;nubPosition:bottom' }} 
    %h6= "#2"
    %p
      Click this button here
    %p
      A short form will open. <b>Provide a name for the new group</b>. 
      Then, click the <b>Add</b> button
    %p
      Any name will do. It can be descriptive - like Gifted Students - or purely functional- like 11-A
