
#quiz-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'new-quiz', :label => 'make new quiz',
                 :with => { :panels => {:side => '#build-quiz', :wide => '#pdf-viewer'} }
