
#quiz-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'new-quiz', :label => 'make new quiz',
                 :with => { :panels => {:side => '#macro-search-form'} }
                                       
    = minor_link :for => 'assign-quiz', :label => 'assign selected'
