
#macro-search-form
  %legend
    %span.target= "for whom?"
    %span.operation= "choose subject & class"
  .search-form
  -# Insert a samurai-sword here. Customization in JS
  .search-results
  -# List of macro-topics for specified subject, class & board (implicit)
