
$orange: #ffa500 ;
$background: lighten(black, 17%) ;

#stabs-grader { 
  .btn-group { 
    margin-bottom: 10px ;
  } 

  input[type='text'] { 
    background: transparent ; 
    color: white ; 
    margin: { 
      top: 10px ; 
      bottom: 20px ;
    } 
    border: { 
      radius: 0px ; 
      style: dotted ; 
      width: 1px ;
    } 
    padding: 8px 8px ; 
    box-shadow: none ;
    height: 35px ;
    line-height: 15px ;
    font: { 
      size: 12px ;
    } 
  } 

  > .row-fluid { 
    &:not(:first-child) { margin-top: 10px ; }
  } 
} 

.slider { 
  margin: { 
    top: 50px ;
    bottom: 20px ;
  } 
  min-height: 20px ;
  > .track { 
    min-height: 2px ;
    background-color: white ;
    z-index: 0 ;
    max-width: 90% ;
  } 

  .bbl { 
    width: 26px;
    height: 21px;
    text-align: center ;
    margin-right: 7.6% ;
    float: left ; 
    margin-top: -14px ;
    padding-top: 5px ;
    border: { 
      style: none ; 
      radius: 13px ;
    } 
    z-index: 3 ;
    &:not([class~='active']){ 
      background-color: white ;
      color: $background ;
    }
    &.active { 
      color: white ; 
      background-color: #01537d ;
      font-weight: bold ;
    } 
  } 

} 

.scalpel {
  > button { z-index: 3 ; }
} 
