
#n-enrollment-blocked.modal.fade.regular.row-fluid{ data: { :autohide => 9000 } } 
  .span3
    = image_tag 'notifications/block-user.png', class: 'big-icon'
  .span8
    %p.title.underline= "Unable to enroll"
    %p
      The name you tried with does not match any of the names 
      your instructor added 
    %p
      Please confirm that you entered the correct group code and re-try
