
#n-enrolled-already.modal.fade.regular.row-fluid{ data: { :autohide => 5000 } } 
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline= "Nothing to be done"
    %p
      You are already enrolled in this group
