
#n-regrade-deadline.modal.fade.regular.row-fluid{ data: { autohide: 13000 } } 
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline 
    %p
      Deadline for requesting a regrade
    %p
      The regrade button will be disabled after this date

