
#n-regrade-disallowed.modal.fade.regular.row-fluid{ data: { autohide: 10000 } } 
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline 
      Disputes blocked
    %p
      The deadline for requesting regrades has passed. The scores you see now are your final scores

