
#n-missing-sektion.modal.fade.regular.row-fluid{ data: { :autohide => 5000 } } 
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline= "Incorrect Group Code"
    %p
      Please check the group code you entered 
