
#n-login-blocked.modal.fade.regular.row-fluid{ data: { autohide: 14000 } } 
  .span3
    = image_tag 'notifications/block-user.png', class: 'big-icon'
  .span8
    %p.title= 'Access Denied !'
    %p
      This account has been blocked by our system 
    %p
      If you think this is in error, then please send us a mail on
      <b>help@gradians.com</b> 
    %p
      Mention the e-mail address you were using to login
    %p.orange
      Auto-logout in 15 seconds 
