
#n-purchase-complete.modal.fade.regular.row-fluid{ data: { :autohide => 5000 } } 
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline= "Purchase Complete"
    %p
      Your account has been updated to reflect this purchase
