
#n-sandbox.modal.regular.hide.fade.row-fluid{ data: { autohide: :never } } 
  .span3
    = image_tag 'notifications/sandbox.png', class: 'big-icon' 
  .span8
    %p.title.underline= 'Activating Sandbox Mode'
    %p
      As a new examiner, we would like to see how you identify, diagnose and report 
      issues in the work students do
    %p
      We will therefore now show you <b>previously graded</b> samples of work done by 
      <b>real students</b>. Your job is to grade these papers - giving the feedback that you deem fit. 
      The aim is to become familiar with the grading panel and to discover your own
      grading style
    %p  
      You have been assigned a <b>mentor</b>. And he/she will be able to see how 
      you grade. If your mentor agrees with your analysis, then you will go live 
      and will be assigned new work by real students. And remember - our dictum 
      while grading is 
    %p
      %h3.white= "Be nice, be precise"
