
#n-sandbox-tips.modal.regular.hide.fade.row-fluid{ data: { autohide: 15000 } } 
  .span3
    = image_tag 'notifications/keyboard.png', class: 'big-icon' 
  .span8
    %p.title.underline= 'Grading Tip'
    %p
      Using <b>keyboard shortcuts</b> will help you grade faster
    %p
      The grading panel you see now has keyboard shortcuts for almost every action. 
      For example, press <span class='btn-shortcut'>W</span> to start writing a comment 
    %p
      Or, press <span class='btn-shortcut'>1</span> to select a numbered option on 
      the left-side of the screen
