
#n-sandbox.modal.regular.hide.fade.row-fluid{ :data => { autohide: 30000 } }
  .span3
    = image_tag 'notifications/sandbox.png', class: 'big-icon' 
  .span8
    %p.title.underline= 'Be nice, be precise' 
    %p
      You will now be shown real work done by real students 
    %p
      Your job is to grade these papers - giving the feedback that you deem fit. 
      The aim is to become familiar with the grading panel and to discover your own
      grading style
    %p  
      As you grade, remember to <b>be nice and precise</b>. In other words, 
      try and identify the <b>root cause</b> issue in each solution and <b>express it mathematically</b>
