
#n-compiled.modal.regular.hide.fade.row-fluid{ :data => { :autohide => 4000 } }
  .span3
    = image_tag 'document.png', :class => 'big-icon'
  .span8
    %p.title= "PDFs Ready!"
    .span5
      .subtext= "Quizzes"
      %ul.quizzes
    .span5.offset1
      .subtext= "Worksheets"
      %ul.worksheets
