
#m-new-sektion.modal.fade.slim{ :role => :dialog, :data => { :autohide => 15000 } }
  %h1.text.bold
  %h2.subtext
  %ul
    %li= "Give the above code to some or all of your students"
    %li= "Students will log into their accounts and enter this code" 
    %li= "When they do, they will become part of the group"
