
#n-prefabricating.modal.regular.hide.fade.row-fluid{ :data => { :autohide => 4000 } }
  .span3
    = image_tag 'notifications/timer.png', :class => 'big-icon'
  .span8
    %p.title.underline
    %p
      Please wait while the system customizes the quiz and makes a sample 
      worksheet for you

