
#n-queued.modal.regular.hide.fade.row-fluid{ :data => { :autohide => 4000 } }
  .span3
    = image_tag 'notifications/timer.png', :class => 'big-icon'
  .span8
    %p.title
    %p
      PDF document will be ready for download after the above mentioned time
