
#m-qzb-nothing-selected.modal.fade.slim{ :role => :dialog, :data => { :autohide => 4000 } }
  %h4= "Please select atleast one question"
  %p
    Click <i class='icon-plus-sign icon-white'></i> to select questions
