
# Ignore everything, everywhere EXCEPT files written by the user, namely: 
#	1. question.tex 
#	2. Any .gnuplot files ( but not generated .table files )
#	3. Makefiles ( obviously )

*.dvi
*.ps
*.pdf
*.aux
*.log
*.table
*.out
*.tex
! question.tex

session/
! session/scripts/ session/*/README
