
#n-exb-no-selection.modal.regular.hide.fade.row-fluid{ data: { autohide: 5000 } } 
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline= "No students selected!"
    %p
      You must select atleast one student to make a worksheet
