
#n-new-sektion.modal.regular.hide.fade.row-fluid{ data: { :autohide => 15000 } }
  .span3
    = image_tag 'notifications/new-sektion.png', class: 'big-icon'
  .span8
    %p.title.underline
    %p
      Student can either self-enroll by entering the above code 
    %p
      Or, you can pick students and make them part of this new group
