
#n-no-apprentice.modal.regular.hide.fade.row-fluid{ data: { autohide: 10000 } } 
  .span3
    = image_tag 'notifications/block-user.png', class: 'big-icon' 
  .span8
    %p.title.underline
      No one to distribute to
    %p
      You don't have any active TAs of your own. Hence, any pending grading 
      work will be default assigned to Gradians.com
