
#n-share-error.modal.regular.hide.fade.row-fluid{ data: { :autohide => 7000 } }
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline= "Error building quiz"
    %p
      Please try again after some time
    %p
      If the problem persists, then write to help@gradians.com
