
#n-share-success.modal.regular.hide.fade.row-fluid{ data: { :autohide => 7000 } }
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline= "Quiz shared!"
    %p
      The receiving teacher will get a mail letting him / her know that 
      you have a shared a quiz with them
