
#n-share-missing-teacher.modal.regular.hide.fade.row-fluid{ data: { :autohide => 7000 } }
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline= "Teacher not found!"
    %p
      You can share quizzes with any teacher registered on Gradians.com
    %p
      To do so, you will need the e-mail address they use on the site
