
form.formtastic fieldset.inputs p.inline-hints {
   font-size : 13px ; 
   font-family : Helvetica ;
   text-align : justify ;
   float : left ; 
   border-top : 1px solid gray ;
} 

form.formtastic fieldset.inputs label.label { 
  font-size : 14px ;
  font-variant : small-caps ;
  font-weight : bold ;
  /*width : 100% ;*/
} 

fieldset.inputs textarea, fieldset.inputs input[type="text"] {
  font-family : Helvetica Arial ;
  font-size : 13px ;
  border : none ; 
  background : inherit ; 
  font-style : sans-serif;
  width : 100% ;
  text-align : justify ;
} 

fieldset.inputs select {
  font-size : 12px ;
} 

fieldset.buttons { 
   margin-top : 10px ;
} 

.formtastic fieldset.boolean-flags li {
    padding : 0px ; 
    float : left ;
    font-variant : small-caps ;
} 
