
body {
  font-family : "Trebuchet MS", Helvetica, Arial, sans-serif ; 
} 

.accordion-heading { 
    font-size : 14px ;
    font-variant : small-caps ; 
} 

.accordion-textbox { 
    border : none ; 
    font-size : 9px ;
    background-color : inherit ;
} 

.pane { 
  margin-left : 25px ; 
  float : left ;
} 

.narrow { 
  max-width : 33% ;
}

.heading.accordion, .content.accordion { 
    font-size : 14px ;
} 

p {
    text-justify : justify;
} 

.ui-accordion .ui-accordion-header a.small-font {
    font-size : 13px ;
} 

.submit-buttons { 
   margin-top : 7px ;
   margin-left : 40% ;
} 

.hidden { 
    display : none ;
} 

.full-width, .formtastic .text textarea.full-width { 
   width : 100% ;
} 

#main-panel { 
  width : 100% ; 
  height : 100px ;
  background-color : #654b24 ;
  -moz-border-radius : 10px ;
  border-radius : 10px ;
  margin-bottom : 25px ;
} 

#links-panel {
  margin-left : 40% ; 
  margin-right : 5% ;
  height : 100% ; 
} 

#links-panel a { 
  text-decoration : none ;
  color : white ;
  font-weight : bold ;
  font-size : 20px ;
  text-transform : lowercase ;
  margin-left : 20px ;
  /*vertical-align : middle ;
  border : 1px solid white ;*/
  line-height : 5 ;
  padding-bottom : 4px ;
} 

#links-panel a.first-element {
  margin-left : 5px ;
} 

#links-panel a:hover {
  /*background-color : #9b8767 ;
  -moz-border-radius : 10px ;
  border-radius : 10px ;*/
  border-bottom : 5px solid #fd9105;
} 

.action-panel { 
  /* background-color : #654b24 ;*/
  -moz-border-radius : 4px ;
  border-radius : 4px ;
  margin-bottom : 10px ;
} 

.horizontal { 
  height : 30px ;
  min-width : 60px ;
} 

.vertical { 
  min-height : 60px ;
  min-width : 30px ;
} 

.row .data { 
  float : left ;
} 

.left { 
  float : left ;
} 

#courses-table { 
  margin-left : 30px ;
} 

.color { 
  background-color: #654b24 ;
  color : #fd9105 ;
} 

/*
.table { 
  color : #654b24 ;
/*
  font-size : 14px ;
  -moz-border-radius : 7px ; 
  border-radius : 7px ;
  border : 1px dotted #654b24 ; 
  float : left ;
} 

.headings { 
  font-weight : bold ;
} 

.table .row, .headings .title { 
  float : left ;
} 
*/
