
body {
  font-family : "Trebuchet MS", Helvetica, Arial, sans-serif ; 
  width : 1120px ;
} 

#usable-area { 
  padding : 20px ; 
  padding-top : 40px ;
} 

#logout-anchor, #login-anchor { 
  margin-bottom : 60px ;
} 

#logout-link > a, #login-link > a { 
  color : #fd9105 ;
} 

/*
.accordion-heading { 
    font-size : 14px ;
    font-variant : small-caps ; 
} 

.accordion-textbox { 
    border : none ; 
    font-size : 9px ;
    background-color : inherit ;
} 

.pane { 
  margin-left : 25px ; 
  float : left ;
} 

.narrow { 
  max-width : 33% ;
}

.heading.accordion, .content.accordion { 
    font-size : 14px ;
} 

p {
    text-justify : justify;
} 

.ui-accordion .ui-accordion-header a.small-font {
    font-size : 13px ;
} 
*/

.submit-buttons { 
   margin-top : 7px ;
   margin-left : 40% ;
} 

.hidden { 
    display : none ;
} 

.full-width, .formtastic .text textarea.full-width { 
   width : 100% ;
} 

#main-panel { 
  /* width : 100% ;
  height : 100px ; */
  margin-bottom : 25px ;
  padding-left : 25px ;
} 

.main-link, .sub-link, .dropdown label {
  text-decoration : none ;
  text-transform : lowercase ;
  color : white ;
} 

.no-bullets, .dropdown { 
  list-style-type : none ;
} 

.main-link { 
  font-size : 16px ;
  text-align : left ;
  font-weight : bold ; 
  margin-bottom : 4px ;
  margin-top : 4px ;
  margin-right : 15px ;
} 

.sub-link { 
  font-size : 14px ;
  text-align : center ;
} 

.dropdown label { 
  font-size : 12px ;
  text-align : left ; 
  margin-right : 4px ;
}

.dropdown select { 
  margin-right : 8px ;
} 

#side-panel {
  margin-left : 30px ; 
  margin-right : 20px ;
  background-color : #654b24 ;
  -moz-border-radius : 5px ;
  border-radius : 5px ;
  min-height : 400px ;
} 

#side-panel a {
  text-decoration : none ;
  color : white ;
  /*margin-left : 20px ;
  line-height : 5 ;
  padding-bottom : 4px ;*/
} 

#side-panel li:not(id='login-anchor') {
  margin-bottom : 20px ;
} 

#side-panel a.first-element {
  margin-left : 5px ;
} 

/*#side-panel a:hover { */
.main-link:hover, .sub-link:hover {
  /*background-color : #9b8767 ;
  -moz-border-radius : 10px ;
  border-radius : 10px ;*/
  border-bottom : 3px solid #fd9105;
} 

.action-panel { 
  background-color : #654b24 ;*/
  -moz-border-radius : 4px ;
  border-radius : 4px ;
  margin-bottom : 10px ;
} 

.horizontal { 
  height : 60px ;
  min-width : 60px ;
} 

.vertical { 
  width : 17% ;
  height : auto ;
  min-width : 60px ;
} 

.table .row {
  min-height : 25px ;
} 

.row div { 
  /* vertical-align : middle ; */
  padding-top : 2px ;
} 

/* Not sure about the settings below
.table .row { 
  margin-top : 5px ;
  padding-top : 2px ; 
  padding-bottom : 2px ;
  -moz-border-radius : 4px ;
  border-radius : 4px ;
} 
*/

.table .headings { 
  margin-bottom : 13px ;
  padding-bottom : 4px ;
  border-bottom : 3px solid gray ;
} 

.row .data { 
  float : left ;
} 

.left { 
  float : left ;
} 

.right { 
  float : right ;
} 

#courses-table { 
  margin-left : 30px ;
} 

.colored { 
  /*color : #654b24 ; */ 
  color : white ; 
   /* background-color : #91c6c9 ;*/ 
  background-color : #6ca7ab  ;
  -moz-border-radius : 10px ; 
  border-radius : 10px ;
  font-weight : bold ;
} 

.small, .cell.small { 
  font-size : 13px ;
} 

td { 
  padding : 0px ;
} 

.transparent { 
  background-color : transparent ;
} 


.headings > .row, .mega-form .column .label.large { 
  font-variant : small-caps ;
  color : #654b24 ; 
  font-weight : bold ; 
  font-size : 14px ;
} 

.headings .row .cell { 
  font-size : 16px ;
} 

.cell { 
  float : left ; 
  font-size : 13px ; 
  text-align : left ; 
} 

.cell.quick-link {
  font-size : 14px ;
  width : 15% ;
  font-variant : normal ;
  text-transform : lowercase ;
} 

.cell.quick-link > a {
  text-decoration : none ;
  color : #fd9105 ;
} 

#control-panel > .top-panel-controls { 
  margin-top : 20px ;
  margin-left : 60px ;
} 

#control-panel > .top-panel-controls > a { 
  margin-right : 20px ;
} 

.ui-dialog { 
  background-color : white ; 
} 

.overflow {
  overflow-x : hidden ;
} 

.mega-form .column > div {
  width : 100% ;
  float : none ;
  min-height : 30px ;
} 

.mega-form .column > div > div { 
  vertical-align : middle ;
} 

#edit-syllabi-megatable input[type='submit'] { 
  margin-bottom : 20px ;
} 
