
%ul.dropdown-menu.dropdown-inverse#examiner-wb{ :role => :menu }
  %li
    = simple_link :for => "Grade these", :id => 'lnk-wb-pending'
  %li
    = simple_link :for => "Typeset these", :id => 'lnk-wb-typeset'
  %li
    = simple_link :for => "Block DB Slots", :id => 'lnk-wb-blockdb'
  %li
    = simple_link :for => "Receive Scans", :id => 'lnk-wb-receive'
