
.row-fluid.navbar{ id: 'rubric-standard-btns' }
  .btn-group.pull-right
    = simple_button icon: 'icon-align-justify', tooltip: 'See solution', karo: :solution
    = simple_button icon: 'icon-comment', tooltip: 'Report an issue', karo: :audit
    -#= simple_button icon: 'icon-facetime-video', tootip: 'Video Solution', karo: :video
    = simple_button icon: 'icon-repeat', tooltip: 'Regrade', karo: :regrade
