
.row-fluid.leaf.criterion
  .span1
    .badge.hide
  .span10
    .text= 'something, something'
    .stars
      .star
      .star
      .star
      .star
      .star
  = check_box_tag :tbd, :t, false, class: :hide 
