

- if current_account.loggable_type == "Teacher"
  #m-upload-what.modal.fade.wide{ :role => :dialog }
    .row-fluid
      .span3
        = image_tag 'quick-trial/upload.png', :class => 'big-icon offset1'
      .span8
        %h2= "What would you like to upload?"
        .btn.btn-inverse.btn-large.upload{:id => 'btn-upload-scans'}
          Scans for Grading
          .progress
            .bar
        .btn.btn-inverse.btn-large.upload.offset1{:id => 'btn-upload-sg'}
          Questions
          .progress
            .bar

