
%ol.hide{ :id => 'welcome-milestone-1', :data => { :onwards => :true }}
  %li{ :data => { :id => 'm-howto' }}
    %p
      <b>Hello, and welcome to Gradians.com</b>
    %p
      You seem to be new to Gradians.com. And so, we just want to let you  
      know that as you use the site, help is available and it is available here
    %p
      As a first step, we would encourage you to <b>Make a Quiz</b>.
      Its the best way to get familiar with the site
    %p
      <b>Abhinav & Akshay</b><br/>Co-founders
