
#m-edit-form.modal.fade.wide
  .row-fluid
    -#.span2
      = image_tag 'notifications/microscope.png', class: 'big-icon'
    -#.span9
    = simple_form_for :edit, remote: true, defaults: { label: false, required: false } do |f|
      .row-fluid
        = f.input :tex, as: :text, input_html: { rows: 25, cols: 50 }, labels: false
        %button.btn.btn-primary.btn-large.pull-left{ type: :submit }= "Submit"
