
#m-upload-solution.modal.fade.regular{ :role => :dialog }
  .row-fluid
    .span3
      = image_tag 'quick-trial/upload.png', class: 'big-icon offset1'
    .span8
      %p.title= "Upload your solution"
      .btn.btn-inverse.btn-large.upload.pull-left{id: 'btn-upload-solution'}
        Browse
        .small-text.orange= "Image file (JPG, PNG etc.)"
        .progress.hide
          .bar
