
%ul#user-downloads.dropdown-menu
  %li.nav-header= "Download for .."
  %li
    %a{ :href => "#"}= "Microsoft Windows"
  %li
    %a{ :href => "#" }= "Linux"
  %li
    %a{ :href => "#" }= "Apple Macintosh"
