
- sandboxed = !current_account.live?

%ul.nav.nav-tabs
  %li
    = simple_link for: (sandboxed ? 'Sandbox' : 'Exams'), id: 'tab-grd-exams', href: "#pane-grd-exams"
  %li
    = simple_link for: "Questions", id: 'tab-grd-questions', href: '#pane-grd-questions'
  %li
    = simple_link for: 'Grade', id: 'tab-grd-panel', href: '#pane-grd-panel'

.tab-content
  #pane-grd-exams.tab-pane
  #pane-grd-questions.tab-pane
  #pane-grd-panel.tab-pane
    = render partial: 'toolbox/grading/left/rubric'
