
%ul.nav.nav-tabs
  %li
    = simple_link :for => "Quizzes", :id => 'tab-st-rc-1', :href => "#pane-st-rc-1"
  %li
    = simple_link :for => "Feedback", :id => 'tab-st-rc-2', :href => "#pane-st-rc-2"

.tab-content
  #pane-st-rc-1.tab-pane
  #pane-st-rc-2.tab-pane.purge-blind
