
.row-fluid{ id: 'scalpel-btns' }
  .btn-group.scalpel.span11
    = simple_button for: 'How others did', icon: 'icon-signal', id: 'scalpel-quality'
    = simple_button for: 'Solution', id: 'scalpel-solution', icon: 'icon-search'
    = simple_button for: 'Rate feedback', icon: 'icon-star', id: 'scalpel-rate'
