
#worksheets-summary.flipchart
  %ul
    %li
      %a{ :href => '#published-worksheets' }= "Worksheets"
    %li
      %a{ :href => '#my-grades' }= "Grades"

  #published-worksheets
  #my-grades
    #overview.purgeable
    = render :partial => 'toolbox/calibrations'
