
%ul.nav.nav-tabs
  %li
    = simple_link :for => "Quizzes", :id => 'tab-st-quizzes', :href => "#pane-st-quizzes"
  %li
    = simple_link :for => "Feedback", :id => 'tab-st-feedback', :href => "#pane-st-feedback"

#pane-st-quizzes 
#pane-st-feedback
