
#m-dispute-2.modal.fade.wide.row-fluid{ role: :dialog } 
  .span2
  .span9
    %p
      = simple_form_for :dispute, remote: true, defaults: { label: false } do |f|
        = f.input :reason, as: :text, input_html: { rows: 5, cols: 60, class: 'span11' }, 
        hint: '( Mandatory ) Provide precise reasons for why you think the question should be regraded'
        %button.btn.btn-primary.pull-right.btn-large{ type: :submit }= 'Please regrade'
