
#m-enrollment-blocked.modal.fade.regular.row-fluid{ :role => :dialog }
  .span3
    = image_tag 'notifications/block-user.png', :class => 'big-icon'
  .span8
    %p.title= "Unable to enroll"
    %p
      The name you registered with does not match any of the names 
      your instructor added 
    %p
      Please confirm that you entered the correct group code and re-try
