
#m-new-login.modal.fade.regular.row-fluid{ role: :dialog } 
  .span3
    = image_tag 'notifications/group.png', class: 'big-icon'
  .span8
    %p.title.underline= 'Before you start ...'
    %p
      If you are here because
      %ul
        %li
          Your school is using Gradians.com <b>and</b>
        %li
          Your teacher has given you an enrollment code
    %p
      then, start by clicking on <span class='orange'>Enroll</span>
    %p
      If you don't know - or are not sure - what the above means, then start by clicking on <span class='orange'>Lessons</span>
    
