
#macro-topic-list
  %legend
    %span.target= "in"
    %span.operation= "drag-n-drop | select to edit" 
  %ul#in-macros.purgeable.in-tray.sortable
  %legend
    %span.target= "out"
    %span.operation= "drag-n-drop" 
  %ul#out-macros.purgeable.out-tray.sortable
