
#macro-topic-list
  %legend
    %span.target= "In"
    %span.operation= "Click to exclude | Select to Edit"
  %ul#in-macros.data.in-tray
  %legend
    %span.target= "Out"
    %span.operation= "Click to include" 
  %ul#out-macros.data.out-tray
