
#macro-masterlist.hidden
  - list = get_list_of :macro_topics
  - list.each do |item|
    = render :partial => 'toolbox/swiss_knife', :locals => { :marker => "#{item.id}", :label => "#{item.name}" }

-# All "applicable" macros (context specific) listed within this ...
#macro-selected-list.sortable.put-back.selected

-# .. and every other macro-topic, within this 
#macro-deselected-list.sortable.put-back
