
#topic-masterlist.hidden
  - list = get_list_of :verticals
  - list.each do |vertical|
    %div.hidden{ :marker => "#{vertical.id}" }
      - topics = Topic.where(:vertical_id => vertical.id).order(:name)
      - topics.each do |topic|
        = render :partial => 'toolbox/swiss_knife', 
                 :locals => { :marker => "#{topic.id}", :label => "#{topic.name}" }

-# All "applicable" topics (context specific) listed within this ...
#topic-selected-list.sortable.put-back

-# .. and every other topic, within this 
#topic-deselected-list.sortable.put-back

