
%ul.nav.nav-tabs 
  %li
    = simple_link :for => "Schools", :href => '#pane-schools', :id => 'tab-schools'
  %li
    = simple_link :for => "Contracts", :href => '#pane-contracts', :id => 'tab-contracts'
  %li
    = simple_link :for => "Statements", :href => '#pane-cust-activity', :id => 'tab-see-activity'

.tab-content
  #pane-schools.tab-pane.scroll
  #pane-contracts.tab-pane.scroll
  #pane-cust-activity.tab-pane.scroll
