
%ul.nav.nav-tabs.always-on
  %li
    = simple_link for: 'Existing', id: 'tab-rubrics', href: '#pane-rubrics'
.tab-content
  #pane-rubrics.tab-pane
    = simple_button icon: 'icon-plus', id: 'btn-new-rubric', class: 'btn-primary no-remove pull-right'
