
%ul.nav.nav-tabs.always-on
  %li
    = simple_link for: 'Criteria', id: 'tab-rubric-details', href: '#pane-rubric-details'
.tab-content
  #pane-rubric-details.tab-pane
    = render partial: 'toolbox/custom/assets', locals: { type: :criteria }
