
.toolbox.cbox-label-select.full-width
  %input.left{ :type => :checkbox, :class => :checkbox} 
  .content
  = drop_down_menu_for :difficulty, :float => :right, :disabled => true, :include_blank => false
