
-##colour-picker
-#  %div.left
-#    %div{ :colour => :pink }
-#    %div{ :role => :description}= "plain wrong!"
-#  %div.left
-#    %div{ :colour => :orange }
-#    %div{ :role => :description}= "somewhat right"
-#  %div.left
-#    %div{ :colour => :green }
-#    %div{ :role => :description}= "looks good!"

#colour-picker
  %div.left
    %div{ :colour => :crosses }
  %div.left
    %div{ :colour => :exclamations }
  %div.left
    %div{ :colour => :checks }
