
#colour-picker
  .left
    #currently-annotating
  .left{ :coloured => :yes }
    %div{ :colour => :crosses }
  .left{ :coloured => :yes }
    %div{ :colour => :exclamations }
  .left{ :coloured => :yes }
    %div{ :colour => :checks }
  .right
    %input{ :type => :button, :id => 'undo-btn', :value => 'undo last'} 
