
#document-preview.ppy
  %ul.ppy-imglist.purgeable
  .ppy-outer
    .ppy-stage
      .ppy-caption
        %span.ppy-text
        .ppy-counter
          %strong.ppy-current
      .ppy-nav
        %a.ppy-prev{ :title => :previous }= "Previous"
        %a.ppy-next{ :title => :next }= "Next"
