
#fall-guy
#document-preview.ppy.put-back
  %ul.ppy-imglist.purgeable
  .ppy-outer
    .ppy-stage
      .ppy-caption
        %span.ppy-text
      .ppy-nav
        %a.ppy-prev{ :title => :previous }= "Previous"
        %a.ppy-next{ :title => :next }= "Next"
