
#accounts-summary
  %p.instructions
    Use this form to edit information about yourself. Fill-in only
    that which you want to change 
  = render :partial => 'accounts/update'
  = render :partial => 'devise/passwords/edit'
