
#grd-toolbar
  #pending-scans.hide
  #grd-ticker.input-prepend.offset4
    %span.add-on
    %span.add-on
    %input{ :type => :text, :maxlength => 40, :placeholder => "Write comment - then click on scan" }
