
%ul.nav.nav-tabs
  %li
    = simple_link :for => "Quiz", :id => 'tab-grd-quiz', :href => "#pane-grd-quiz"
  %li
    = simple_link :for => "Page", :id => 'tab-grd-page', :href => "#pane-grd-page"
  %li
    = simple_link :for => "Question", :id => 'tab-grd-panel', :href => "#pane-grd-panel"

.tab-content
  #pane-grd-quiz.tab-pane
  #pane-grd-page.tab-pane
  #pane-grd-panel.tab-pane.nopurge-on-show
    = render :partial => 'toolbox/grd-abacus'
