
#grd-toolbar.offset2
  #pending-scans.hide
  #grd-ticker.input-prepend
    %span.add-on
    %span.add-on
    %input{ :type => :text, :limit => 40, :placeholder => "Enter comments here" }
  .btn-toolbar
    .btn-group
      %button.btn.btn-inverse#btn-prev-scan
        %i{ :class => 'icon-white icon-fast-backward' }
      %button.btn.btn-inverse#btn-prev-ques
        %i{ :class => 'icon-white icon-backward' }
      %button.btn.btn-inverse#btn-next-ques
        %i{ :class => 'icon-white icon-forward' }
      %button.btn.btn-inverse#btn-next-scan
        %i{ :class => 'icon-white icon-fast-forward' }
    .btn-group{ 'data-toggle' => 'buttons-radio' }
      %button.btn.btn-inverse#btn-ok
        %i{ :class => 'icon-white icon-ok ' }
      %button.btn.btn-inverse#btn-cross
        %i{ :class => 'icon-white icon-remove' }
      %button.btn.btn-inverse#btn-what
        %i{ :class => 'icon-white icon-exclamation-sign' }
      %button.btn.btn-inverse#btn-write
        %i{ :class => 'icon-white icon-text-width' } 
    .btn-group
      %button.btn.btn-inverse#btn-undo
        %i{ :class => 'icon-white icon-repeat' } 

