
#grd-toolbar
  .btn-toolbar
    .btn-group
      %button.btn.btn-inverse#btn-back
        %i{ :class => 'icon-white icon-chevron-left' }
      %button.btn.btn-inverse#btn-next
        %i{ :class => 'icon-white icon-chevron-right' }
    .btn-group{ 'data-toggle' => 'buttons-radio' }
      %button.btn.btn-inverse#btn-ok
        %i{ :class => 'icon-white icon-ok ' }
      %button.btn.btn-inverse#btn-cross
        %i{ :class => 'icon-white icon-remove' }
      %button.btn.btn-inverse#btn-what
        %i{ :class => 'icon-white icon-exclamation-sign' }
      %button.btn.btn-inverse#btn-write
        %i{ :class => 'icon-white icon-text-width' } 
    .btn-group
      %button.btn.btn-inverse#btn-undo
        %i{ :class => 'icon-white icon-repeat' } 

