
#grd-toolbar
  #pending-scans.hide
  #grd-ticker.input-prepend.offset4
    %span.add-on
    %span.add-on
    %input#grd-typeahead{ :type => :text, :placeholder => "Write comment - then click on scan" }
