
#grd-toolbar-btns.btn-toolbar
  .btn-group.btn-group-vertical
    %button.btn.btn-inverse#btn-prev-scan{ :rel => :tooltip, :title => "Previous Scan" }
      %i{ :class => 'icon-white icon-chevron-up' }
    %button.btn.btn-inverse#btn-prev-ques{ :rel => :tooltip, :title => "Previous Question" }
      %i{ :class => 'icon-white icon-chevron-left' }
    %button.btn.btn-inverse#btn-next-ques{ :rel => :tooltip, :title => "Next Question" }
      %i{ :class => 'icon-white icon-chevron-right' }
    %button.btn.btn-inverse#btn-next-scan{ :rel => :tooltip, :title => "Next Scan" }
      %i{ :class => 'icon-white icon-chevron-down' }
  .btn-group.btn-group-vertical{ 'data-toggle' => 'buttons-radio' }
    %button.btn.btn-inverse#btn-ok{ :rel => :tooltip, :title => "Looks Good" }
      %i{ :class => 'icon-white icon-ok ' }
    %button.btn.btn-inverse#btn-cross{ :rel => :tooltip, :title => "Wrong!" }
      %i{ :class => 'icon-white icon-remove' }
    %button.btn.btn-inverse#btn-what{ :rel => :tooltip, :title => "How?"}
      %i{ :class => 'icon-white icon-question-sign' }
    %button.btn.btn-inverse#btn-write{ :rel => :tooltip, :title => "Add a comment" }
      %i{ :class => 'icon-white icon-text-width' } 
    %button.btn.btn-inverse#btn-undo{ :rel => :tooltip, :title => "Undo Last" }
      %i{ :class => 'icon-white icon-repeat' } 

