
-# One-Line 

.row-fluid.one-line
  .span8
    .row-fluid.text.offset1
  .span4
    .dropdown
      %a.dropdown-toggle{ :href => '#', 'data-toggle' => :dropdown }
        More ...
        %span.caret
      
-# Two-Lines 
.row-fluid.two-line
  .span8
    .row-fluid.text.offset1
    .row-fluid.subtext.offset1
  .span4
    .dropdown
      %a.dropdown-toggle{ :href => '#', 'data-toggle' => :dropdown }
        More ...
        %span.caret
