
-# The :up attribute on .dropdown-toggle is the number of levels UP 
-# one needs to go from it to get to the * root * of the repeating 
-# structure within which would be another (different) .dropdown-toggle
-# This information is used to close one menu when another 'sibling' menu
-# is clicked on

-# A single line entry - with mandatory text and optional subtext 
.row-fluid.line.leaf
  .dropdown
    %a.dropdown-toggle{ :href => '#', :data => { :toggle => :dropdown } } 
      %span.caret
  .badge
  .text
  %i.icon-home.icon-white.pull-left.hide
  %i.icon-time.icon-white.pull-left.hide
  .subtext
  .stopwatch

  -# Buttons 
  .btn.btn-mini{ data: { toggle: :tooltip, placement: :top, title: 'Select' } }
    %i.icon-white.icon-plus-sign
    %input.hide{ type: :checkbox, value: :true, name: :checked }

  = check_box_tag :tbd, :t, false, class: :hide 
