
-# The :up attribute on .dropdown-toggle is the number of levels UP 
-# one needs to go from it to get to the * root * of the repeating 
-# structure within which would be another (different) .dropdown-toggle
-# This information is used to close one menu when another 'sibling' menu
-# is clicked on

-# A single line entry - with mandatory text and optional subtext 
.row-fluid.single-line.leaf
  .dropdown.span2
    %a.dropdown-toggle{ :href => '#', 'data-toggle' => :dropdown, :up => 2 }
      More ...
      %span.caret
  .span1.badge
  .span2.long-badge
  .text
  .span2.subtext
  .btn.btn-mini{ :data => { :toggle => :tooltip, :placement => :top, :title => 'Select' } }
    %i.icon-white.icon-plus-sign
    %input.hide{ :type => :checkbox, :value => :true}
  = check_box_tag :tbd, :t, false, :class => :hide
