
.blueprint.toolbox.nail-file.full-width{ :marker => 'tbd' }
  %a{ :href => '#', :marker => 'tbd' }= "Link text" 
  %input.button.right{ :type => :button, :disabled => true, :marker => 'tbd', :value => "Preview" }
