
.blueprint.toolbox.nail-file.full-width{ :marker => 'tbd' }
  %a.hidden{ :href => '#', :marker => 'tbd' }= "Link text" 
  %input.button.left.hidden{ :type => :button, :disabled => true, :marker => 'tbd'}
  %input.button.right.hidden{ :type => :button, :disabled => true, :marker => 'tbd'}
