
#new-sektion
  = semantic_form_for :sektion, :remote => true, :url => sektion_path, :method => :put do |f|
    .submit-buttons
      = submit_tag 'create and/or update'
    #enrolled-students.as-accordion
      - [*9..12].each do |grd|
        .scroll-heading{ :marker => "#{grd}" }= "Grade #{grd}"
        .scroll-content.purgeable

#sektions-summary
  #all-my-sektions
      
