
#n-compiled.modal.regular.hide.fade.row-fluid{ data: { :autohide => 6000 } }
  .span3
    = image_tag 'notifications/document.png', class: 'big-icon'
  .span8
    %p.title.underline= "Worksheet(s) ready"
    %p
      You can now download and print the worksheet you just built
