
#n-queued.modal.regular.hide.fade.row-fluid{ data: { autohide: 7000 } } 
  .span3
    = image_tag 'notifications/timer.png', class: 'big-icon'
  .span8
    %p.title.underline
    %p
      PDF will be ready for download after the above mentioned time
    %p
      Continue using the site as normal. You can even logout

