
#n-qzb-no-name.modal.regular.hide.fade.row-fluid{ data: { autohide: 7000 } } 
  .span3
    = image_tag 'notifications/alert.png', class: 'big-icon'
  .span8
    %p.title.underline= "Quiz needs a name"
    %p
      Please give this quiz a name - something for you to remember it by
