
%ul.dropdown-menu.dropdown-inverse#m-courses{ :role => :menu }
  %li
    = simple_link for: "New Course", icon: 'icon-plus-sign', id: 'new-course'
  %li
    = simple_link for: "New Lesson", icon: 'icon-plus-sign', id: 'new-lesson'
