

%ol.hide{ id: 'publish-milestone-1', data: { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ data: { id: 'left-1' } }
    %h6= "#1"
    %p
      When you publish a worksheet, then each students gets his/her 
      own copy of the worksheet in their Gradians.com account
    %p
      This feature is ideal for distributing homework or other forms 
      of take-home assignments. Students print out the worksheet, do 
      their work and return the hard-copy to you - which you can then 
      scan and send to us for grading
    %p
      <b>Step 1:</b> Select a quiz and click on <b>more...</b>
    %p
      <b>Step 2:</b> Select the <b>Worksheets > List</b> option
      
    
