

%ol.hide{ id: 'publish-milestone-2', data: { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ data: { id: 'left-1' } }
    %h6= "#2"
    %p
      These are the worksheets you have made for the selected quiz
    %p
      <b>Step 1:</b> Select the worksheet you want to publish 
    %p
      <b>Step 2:</b> Click on <b>more ...</b>
    %p
      <b>Step 3:</b> Select the <b>Publish > Send to student accounts</b> option
    %p
      That's it! The selected worksheet has been published and individual copies 
      would be available in individual student accounts
      
    
