
#n-registered.modal.slim.hide.fade{ :data => { :autohide => 4000 } }
  %h3
    <i class='icon-bell icon-white'></i> 
    Thank you for registering!
  %p
    You can now log into the site using the e-mail and password you just provided
