%ul#abouts.dropdown-menu.dropdown-inverse{ :role => :menu }
  %li
    = simple_link for: "Team", href: '/faq#faq-about-us', id: 'lnk-team'
  %li
    = simple_link for: "faq", href: '/faq#faq-general', id: 'lnk-faq'
  %li
    = simple_link for: "Contact", href: '/faq#faq-contact', id: 'lnk-contact'

