%ul#abouts.dropdown-menu.dropdown-inverse{ :role => :menu }
  %li
    = simple_link :for => "Team", :href => faq_path, :id => 'lnk-team'
  %li
    = simple_link :for => "Contact", :href => faq_path, :id => 'lnk-contact'
  %li
    = simple_link :for => "faq", :href => faq_path, :id => 'lnk-faq'

