
%ul#tasks-on-account.dropdown-menu
  %li
    = simple_link :for => "Logout", :id => 'lnk-logout', :href => logout_path
  %li
    = simple_link :for => "Change Password", :href => '#b-edit-password', :id => 'lnk-change-password'

