
%ul#tasks-on-account.dropdown-menu{ :role => :menu }
  %li
    = simple_link :for => "Logout", :id => 'lnk-logout', :href => logout_path, :icon => 'icon-off'
  %li
    = simple_link :for => "Edit Account Details", :href => '#m-edit-account', :id => 'lnk-edit-account', :icon => 'icon-pencil'

