
%ul.dropdown-menu.dropdown-inverse#per-grd-ws{ :role => :menu }
  %li
    = simple_link :for => "Solution (PDF)", :id => 'lnk-download-solution', 
    :url => "#{Gutenberg['server']}/atm/:a/answer-key/downloads/answer-key.pdf"
