
%ul#user-registrations.dropdown-menu{ :role => :menu }
  %li
    = simple_link :for => "I'm a Student/Parent!", :href => '#register_student', :id => 'lnk-register-student'
  %li
    = simple_link :for => "I'm a Teacher/Educator!", :href => '#register_teacher', :id => 'lnk-register-teacher'
