
%ul#user-registrations.dropdown-menu{ :role => :menu }
  %li
    = simple_link :for => "I'm a Student!", :href => '#register_student', :id => 'lnk-register-student'
  %li
    = simple_link :for => "I'm a Teacher!", :href => '#register_teacher', :id => 'lnk-register-teacher'
  %li
    = simple_link :for => "I'm curious!", :href => '#register_curious', :id => 'lnk-register-curious'
