
%ul.dropdown-menu.dropdown-inverse#guardian-options{ role: :menu }
  %li
    = simple_link for: "Add Student", id: 'lnk-cust-create', icon: 'icon-plus-sign'
  %li
    = simple_link for: "See Activity", id: 'lnk-cust-create', icon: 'icon-plus-sign'

