
%ul#qzb-filter.dropdown-menu.pull-right{ :role => :menu }
  %li
    = simple_link for: "Show Favourites", id: "lnk-qzb-fav"
  %li
    = simple_link for: "Show Selected", id: 'lnk-qzb-selected'
  %li
    = simple_link for: "Show All", id: 'lnk-qzb-showall'
