
#tbds-summary.selection.full-width.left
  %legend
    %span.target= "un-tagged questions"
    %span.operation= "select, then tag" 
  -# We need a buffer layer between here and the element on which 
  -# jQuery.accordion() will be called. Otherwise, the attributes
  -# .accordion() sets on the element will interfere with accordion 
  -# rendering in subsequent runs. Therefore, we have .samurai-garrison.
  -# Within it would be .samurai-armory (added in JS) and within that 
  -# would be .samurai-swords
  = form_tag questions_tag_path, :method => :put, :remote => true do |f|
    = submit_tag :update 
    %input#tbd-preview-button.right{:type => :button, :value => "preview"}
    .samurai-garrison.purgeable.clear-before-show
