
- columns = { :notitle => :radio, :school => :regular, :address => :wide, :zip_code => :narrow, 
              :phone => :regular, :email => :wide}

#schools-summary.summary-table.left
  .table 
    .headings 
      .row 
        - columns.each do |title, width| 
          - if title != :notitle 
            .cell{ :class => "#{width.to_s}" }= "#{title.to_s.humanize}"
          - else 
            .cell{ :class => "#{width.to_s}" }= " "
    .data 

