
#yardsticks-summary.selection.full-width.left{'middle-panel' => '#edit-yardstick',
                                              'right-panel' => '#new-yardstick'}
  .data.clear-before-show.empty-on-putback 

