#question
  %br/
  why grading?
  %p 
    Ask any teacher what the most boring aspect of their job is. The answer |
    will be grading. So we came up with gradians.com. A friendly, accessible |
    and easy to use service that takes the pain out of tests and homeworks for |
    everyone. If you are a teacher, just focus on the teaching. We'll take |
    care of the grading! |
#question
  %br/ 
  why us?
  %p 
    We are computer programmers with a soft spot for Science and Math. Our “job” |
    is to bring about operational efficiency, especially to boring monotonous |
    work. Because boring monotonous work is what computers do best.
#question
  %br/
  But computers grading... how can it work? 
  %p
    Computers don't actually grade. They just make it ridiculously simple for |
    one of our caring, human graders to exercise that one piece of crucial |
    human judgment which then makes the rest of the magic happen. |
    Check out |
    = link_to "how it works", '#'
    to learn more, or better yet watch our |  
    = link_to "video tutorial", '#'
    , sign up for free, and see the magic for yourself! | 
