#how-it-works
  = image_tag("process_flow.png", alt: "process_flow", id: "process_flow")
  #synopsis
    %p
      At a high level, the process flow looks something like the diagram |
      you see on the left. A teacher starts things off by using the question |
      bank in our system to make a quiz
    %p
      Next, the teacher can assign this quiz any number of times to any |
      number of students (over time). For each assignment, the student would |
      solve the questions on the paper itself and solutions would be scanned |
      and sent to us. |
    %p
      The final piece would be our system that would evaluate the solution and |
      assign it a rating or a status. According to this status and the scoring |
      scheme set by the teacher, the student would receive a final score. |   