#trial-registration-success
  %h2 Dear, thank you for registering!
  %p
    A trial account has been created for you.
  %p
    You can now login using
    the email address you provided. Your password is your school's postal code 
  %p
    For any assistance, please write to help@gradians.com
