
%ul.nav.nav-tabs 
  %li
    = simple_link for: "Name", href: '#pane-cust', id: 'tab-cust'
  %li
    = simple_link for: "Statements", href: '#pane-cust-activity', id: 'tab-see-activity'

.tab-content
  #pane-cust.tab-pane.scroll
  #pane-cust-activity.tab-pane.scroll
