-#header
  .row-fluid.line.leaf
    .badge.span2= "?"
    .text.span7= "When, What and by Whom?"
    .subtext.span3= "Gredits"
%ul.nav.nav-tabs.always-on
  %li
    = simple_link :for => "Transactions", :href => '#'
#transactions
