#trial-registration-success
  .one-third-column.left
    #thumbs-up
      = image_tag "thumbsUp.png"
  .two-third-column.left
    %h2 Dear #{@teacher.name}, thank you for registering!
    %p
      A trial account has been created for you.
    %p
      You can now login using
      %email.selected 
        #{@email}, 
      the email address you provided. Your password is your school's postal code 
      %pwd.selected 
        #{@password} 
    %p
      For any assistance, please write to help@gradians.com
