
#big-banner.row-fluid 
  %h1.span11
    Turn your smartphone into your practice partner
#product-pitch.row-fluid 
  .span2.offset1
    %p
      Prepwell helps students think through a problem as they are solving it. 
    %p
      Every problem in Prepwell has been broken down into steps. 
      And at each step, there is a question about a core concept / insight needed to 
      solve the problem. 
    %p
      Through constant questioning, we are able to reinforce concepts 
      that students know and introduce those that they don't. 
     
  #live-phone.span3.offset1 
    =image_tag 'prepwell/phone.png'
    .carousel.slide
      .carousel-inner
        .item.active 
          =image_tag 'prepwell/1.png'
        -for j in [2,3,5,8,9]
          .item 
            = image_tag "prepwell/#{j}.png"
  .span2.offset1
    %p
      Because only on solving a problem does one realize what one knows, what one 
      doesn't know, and what one needs to know. 
    %p
      As the old Chinese saying goes
      "I hear and I forget ; I see and I remember ; I do and I understand."
    %p
      Download our 
      app to experience this new way of practising Maths.
    = simple_link id: 'big-download-btn', for: 'Download', href: "https://play.google.com/store/apps/details?id=com.gradians.prepwell",
    target: :blank, class: 'btn btn-large'

#good-samaritan.row-fluid 
  #samaritan-title.row-fluid 
    %h1.offset2.tomato
      &#x20b9 16,575 raised for underprivileged children.
    %h2.offset4
      Because every &#x20b9 math-ers
  #samaritan-text.row-fluid
    .span4 
      = image_tag "prepwell/u-and-i.jpg"
    .span3.offset1 
      %p
        Over three days in December 2015,  Prepwell helped raise &#x20b9 16,575 for <a href="http://uandi.org.in/" target="_blank">U &amp; I</a>, 
        a Bangalore based NGO that works with underprivileged children. 
      %p
        We were looking for some way to get people to see that Maths can make a positive difference 
        to someone else's life. 
    .span3
      %p 
        Hence, we came up with idea of asking students (and their parents) to solve Math problems on Prepwell.  
      %p
        And for every problem students solved correctly, we donated money to <a href="http://uandi.org.in/" target="_blank">U &amp; I</a>  
        (&#x20b9 25 for easy problem, &#x20b9 50 for tougher ones). 
      %p
        We would like to thank all who came and solved a problem. Your efforts have just enriched the life 
        of someone less fortunate.
