
#mobile-intro.row-fluid 
  %h1.span6.offset3
    Turn your smartphone into your practice partner 
  #live-phone.span3.offset4
    = image_tag 'prepwell/phone.png'
    #screens.carousel.slide
      .carousel-inner
        .item.active
          = image_tag "prepwell/1.png"
        - for j in [2,3,5,8,9] 
          .item 
            = image_tag "prepwell/#{j}.png"
