
.shadow
  .typeahead.span7.offset2
    %input{ id: 'fdb-typeahead', type: :text, placeholder: 'Write comment - then click on scan', class: 'span11' }
  .ticker.span4
    #ticker-response.span3
    #ticker-student.span8
