!!!5

%html{html_attrs}
  %head 
    %title TeachAssist
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application"
    = csrf_meta_tag
  
  %body 
    #main-panel 
      #links-panel 
        - if current_account
          - if current_account.role? :admin 
            %a#new-school-board-link.first-element{ :href => '#' } New Board
          %a#link-logout{ :href => '/logout' } Sign Out
        - else 
          %a#link-login{ :href => '/login' } Sign In

    
    = yield
  

