
#edit-syllabi-form
  %legend
    %span.target= "specific topics"
    %span.operation= "select difficulty levels and submit"
  = form_tag '/syllabus', :method => :put, :remote => true do |f|
    = submit_tag :update
    .peek-a-boo
