
#edit-syllabi-form
  %legend
    %span.target= "specific topics"
    %span.operation= "select, set and submit"
  = form_tag '/syllabus', :method => :put, :remote => true do |f|
    .submit-buttons
      = submit_tag 'add selected to course'
