
#edit-syllabi-form
  = form_tag '/syllabus', :method => :put, :remote => true do |f|
    .submit-buttons
      %legend.left= "edit existing course"
      = submit_tag 'update', :class => :right
    #edit-course-topics.as-accordion
