

%ol.hide{ :id => 'mng-sektions-milestone-4', :data => { :enable => 'm-teacher-workbench', :onwards => :true }}
  %li{ :data => { :id => 'sektion-uid-1' } }
    %h6= "#4"
    %p
      <b>See anything written in orange?</b>
    %p
      These are unique codes generated for each of the new sections you just created
    %p
      Give these codes to your students - depending on which students you want in which section
    %p
      Students will log-in into their Gradians.com account and enter the code
      And when they do, they will become part of that section
    %p
      If a student is given two codes, then he/she will belong to both the sections.
      
