

%ol.hide{ :id => 'mng-sektions-milestone-3', :data => { :enable => 'm-teacher-workbench', :onwards => :true }}
  %li{ :data => { :id => 'pane-mng-sektions-2' }} 
    %h6= "#3"
    %p
      Specify names for upto five(5) sections here. When you are done, click 
      the <b>Add</b> button below
    %p
      Section names can be anything. They can be functional, like <b>11-A</b>, 
      or descriptive, like <b>Gifted Students</b>. The choice is yours 
