

%ol.hide{ :id => 'mng-sektions-milestone-2', :data => { :enable => 'm-teacher-workbench', :onwards => :true }}
  -#%li{ :data => { :id => 'left-8', :options => 'tipLocation:top;nubPosition:bottom' } }
  %li{ :data => { :id => 'left-8' }} 
    %h6= "#2"
    %p
      Your <b>existing sections</b> are listed here. If you have never made a section before,  
      then you would see the default section we created for you - called Gradians
    %p
      But in this tutorial, the aim is to create an entirely new section
    %p
      So, <b>Step 1:</b> click on the <b>Add more ...</b> tab
