
.row-fluid.exploded
  .row-fluid
    .span8
      .name
      .author
    .span4
      .rating 
  .row-fluid
    .span8
      .description
  .row-fluid.push-down 
    .span4
      .heading= 'Quizzes'
      .quizzes
    .span4
      .heading= 'Lessons'
      .lessons
    .span4
      .heading= 'Reading Material'
      .reading-material
