
%ol.hide{ id: 'editqz-milestone-4', data: { :onwards => :true }}
  %li{ data: { id: 'editqz-div-milestone-4' } }
    %h6= "#5"
    %p
      Then, select the <b>topics</b> you want to see questions on
    %p
      Repeat last step in case you want to see questions on other 
      topics in other verticals

  %li{ data: { id: 'editqz-btn-milestone-4', :options => 'tipLocation:top;nubPosition:bottom' } }
    %h6= "#6"
    %p
      When you are done picking topics, click this button here

      
