
%ol.hide{ id: 'editqz-milestone-1', data: { :onwards => :true }}
  %li{ data: { id: 'left-1' } }
    %h6= "#1"
    %p
      When editing a quiz, you would either be removing 
      questions from a quiz <b> or</b> adding some new questions to it 
      <b>or</b> both
    %p
      So, first pick the quiz you want to edit and then click <b>more...</b>
    %p
      Then, select <b>add/remove questions</b> from the menu options
