
%ol.hide{ id: 'editqz-milestone-6', data: { :onwards => :true }}
  %li{ data: { id: 'editqz-questions' }} 
    %h6= "#8"
    %p
      And then, pick the questions you would like to add to the quiz
    %p
      When you are done picking, click the <b>Add Selected</b> button to 
      add questions to the quiz

