
%ol.hide{ id: 'editqz-milestone-3', data: { :onwards => :true }}
  %li{ data: { id: 'editqz-ul-milestone-2' } }
    %h6= "#4"
    %p
      The next few steps are the same as what one would do when building a quiz
    %p
      First, <b>select a vertical</b>
