
%ol.hide{ id: 'editqz-milestone-2', data: { :onwards => :true }}
  %li{ data: { id: 'editqz-1' } }
    %h6= "#2"
    %p
      These are the questions <b>currently in the quiz</b>
    %p
      Select the questions you would like to remove - if any. When 
      you are done, click the <b>Remove Selected</b> button above
  
  %li{ data: { id: 'tab-editqz-2', :options => 'tipLocation:top;nubPosition:bottom' } }
    %h6= "#3"
    %p
      <b>To add questions</b>, click here
