
#topic-list.sortable-containment
  %legend
    %span.target= "In"
    %span.operation= "Click to exclude | Select to Edit"
  %ul#included-topics.data.sortable
  %legend
    %span.target= "Out"
    %span.operation= "Click to include" 
  %ul#excluded-topics.data.sortable
