
%ul.dropdown-menu.dropdown-inverse#per-ws{ :role => :menu }
  %li
    = simple_link for: "Download PDF", id: 'lnk-ws-download', icon: 'icon-download',
    url: { self: "#{Gutenberg['server']}/mint/:a/document.pdf" }
