
%ul.dropdown-menu.dropdown-inverse#per-question{ :role => :menu }
  %li
    = simple_link :for => 'Add to Favourites', :id => 'lnk-like-question', 
    :icon => 'icon-thumbs-up', :remote => true, :url => { :self => "like.json?id=:a" }
  %li
    = simple_link :for => 'Report issue(s)', :id => 'lnk-audit-question', :icon => 'icon-warning-sign'
  %li
    = simple_link for: "Play Solution", icon: 'icon-play', id: 'lnk-play-video'
