
%ul.dropdown-menu.dropdown-inverse#per-ws{ :role => :menu }
  %li
    = simple_link :for => "Download PDF", :id => 'lnk-ws-download',
    :url => "#{Gutenberg['server']}/atm/:a/:b/downloads/assignment-:c-:b.pdf"
