
%ul.dropdown-menu.dropdown-inverse#quiz-filter
  %li
    %a#quiz-fltr-oldest-first{ :href => '#', :filter => "order=asc"}= "Oldest first"
    %a#quiz-fltr-newest-first{ :href => '#', :filter => "order=desc"}= "Newest first"
