
%ul.dropdown-menu.dropdown-inverse#teacher-rc{ :role => :menu }
  %li
    = simple_link :for => "All Worksheets", :id => 'lnk-tc-rc'
  %li
    = simple_link :for => "Deep Dive", :id => 'lnk-rc-deepdive'
