
%ul.dropdown-menu.dropdown-inverse#st-inbox{ :role => :menu }
  %li
    = simple_link :for => "Download PDF", :id => 'lnk-inbox-download',
      :url => "#{Gutenberg['server']}/atm/:a/:b-:c/downloads/:d-:b-:c.pdf"
