
%ul.dropdown-menu.dropdown-inverse#per-qz{ role: :menu } 
  %li
    = simple_link for: 'Make Question Paper', icon: 'icon-cog', id: 'a-compile-quiz'
  %li
    = simple_link for: 'Download', icon: 'icon-download', id: 'a-download-quiz'
