
%ul.nav.nav-tabs
  %li
    = simple_link :for => 'Drop', :href => '#pane-editqz-1', :id => 'tab-editqz-1'
  %li
    = simple_link :for => 'Search', :href => '#pane-editqz-2', :id => 'tab-editqz-2'
  %li
    = simple_link :for => 'Add', :href => '#pane-editqz-3', :id => 'tab-editqz-3'
  %li
    = simple_link :for => 'Build', :href => '#pane-editqz-4', :id => 'tab-editqz-4'

.tab-content
  #pane-editqz-1.tab-pane
  #pane-editqz-2.tab-pane
  #pane-editqz-3.tab-pane
  #pane-editqz-4.tab-pane
