
#queue-status.new-entity.wide
  %h4 Your request is # in the queue
  %p

  %h4 In the background ... 
  %p
    Our servers take your selection of questions and - in case of 
    test-papers - students and then stitch the document. This takes
    a couple of minutes per document 

  %h4 Can I logout now?
  %p 
    Yes, you can. Your job is in the queue and will be picked up. 
    Come back anytime after the expected end time to download your document

  %h4 Where will I find the new document on the site?
  %p Same place as where your existing quizzes are listed
  %ol
    %li Click on the "quizzes" link in the control-panel (the horizontal area
    right at the top)
    %li Your existing quizzes will be listed in a panel on the left. Newer 
    quizzes are listed before older ones. Quizzes for one class/grade-level are
    listed together
    %li Click on the quiz you would like to use. Download it or make a testpaper
    using it for a new set of students

