
.row-fluid.offset1
  .row-fluid
    .span8
      =render :partial => 'toolbox/paginator', :locals => { :id => "pgs-quiz-lst", :url => "quizzes/list" }
    .span4
  .row-fluid.content#lp-lst-quizzes



  
  
