-# Variable teacher comes from the layout file 

%ul.nav.nav-tabs
  %li
    = simple_link :for => "Topics", :href => '#pane-qzb-1', 
      :id => 'tab-qzb-1', :class => 'nopurge-on-inactive nopurge-on-show'
  %li
    = simple_link :for => "Questions", :href => '#pane-qzb-2', 
      :id => 'tab-qzb-2'


.tab-content
  #pane-qzb-1.tab-pane
    -#= render :partial => 'teachers/qzb-topics', :locals => { :teacher => teacher }
    = render :partial => 'teachers/qzb-topics', :locals => { :context => :qzb }
  #pane-qzb-2.tab-pane
    = render :partial => 'teachers/form-qzb', :locals => { :context => :qzb }

    
