-# Variable teacher comes from the layout file 

%ul.nav.nav-tabs
  %li
    = simple_link :for => "Worksheets", :href => '#pane-tc-rc-1', 
      :id => 'tab-tc-rc-1', :class => 'nopurge-ever'
  %li
    = simple_link :for => "Overall", :href => '#pane-tc-rc-2', 
      :id => 'tab-tc-rc-2', :class => 'nopurge-on-inactive nopurge-on-show'
  %li
    = simple_link :for => "Specific", :href => '#pane-tc-rc-3', :id => 'tab-tc-rc-3'

.tab-content
  #pane-tc-rc-1.tab-pane
  #pane-tc-rc-2.tab-pane
  #pane-tc-rc-3.tab-pane
    .row-fluid.navbar.purge-skip
      = content_tag :button, "Show Solution", { :class => 'btn btn-primary btn-large pull-right', 
                                                :data => { :ws => 'tab-tc-rc-1', :id => 'tab-tc-rc-2', :toggle => :button },
                                                :id => 'btn-show-solution'}

