-# Variable teacher comes from the layout file 

%ul.nav.nav-tabs
  %li
    = simple_link :for => "Worksheets", :href => '#pane-tc-rc-1', :id => 'tab-tc-rc-1'
  %li
    = simple_link :for => "Overall", :href => '#pane-tc-rc-2', :id => 'tab-tc-rc-2'
  %li
    = simple_link :for => "Specific", :href => '#pane-tc-rc-3', :id => 'tab-tc-rc-3'

.tab-content
  #pane-tc-rc-1.tab-pane
  #pane-tc-rc-2.tab-pane
  #pane-tc-rc-3.tab-pane

