
#report-cards-summary.flipchart
  %p.instructions= "N = next page | B = back to previous page"
  %ul
    %li
      %a{ :href => '#testpaper' }= "testpaper"
    %li
      %a{ :href => '#student' }= "student"
    %li
      %a{ :href => '#preview' }= "preview"

  #testpaper
  #student
  #preview
