
#my-sektions
  = simple_form_for :new, :url => add_sektion_path, :remote => true do |f|
    .input-append.nopurge.offset1
      = f.input_field :name, :placeholder => "New Section"
      %button.btn.btn-inverse{ :type => :submit }= "Add Section"
  #my-sektions-list.push-down

