
%ul.nav.nav-tabs
  %li
    = simple_link :for => "Quizzes", :toggle => :tab, :href => "#lp-quizzes"
  %li
    = simple_link :for => "Sections", :toggle => :tab, :href => "#lp-sektions"
  %li
    = simple_link :for => "Summary", :toggle => :tab, :href => "#lp-wrksheet-build-summary"

.tab-content
  #lp-quizzes.tab-pane
  #lp-sektions.tab-pane
  #lp-wrksheet-build-summary.tab-pane
    



  
  
