-# Variable teacher comes from the layout file 

%ul.nav.nav-tabs
  %li
    = simple_link :for => "Quizzes", :toggle => :tab, :href => "#lp-quizzes", :ajax => "quizzes/list.json"
  %li
    = simple_link :for => "Sections", :toggle => :tab, :href => "#lp-sektions"
  %li
    = simple_link :for => "Summary", :toggle => :tab, :href => "#lp-wrksheet-build-summary"

.tab-content
  #lp-quizzes.tab-pane
  #lp-sektions.tab-pane
    .tabbable.tabs-left
      = render :partial => 'teachers/sektions-tab', :locals => { :teacher => teacher }
  #lp-wrksheet-build-summary.tab-pane

    
