-# Variable teacher comes from the layout file 

%ul.nav.nav-tabs
  %li
    = simple_link :for => "Quizzes", :href => '#pane-wsb-quizzes', :id => 'tab-wsb-quizzes'
  %li
    = simple_link :for => "Worksheets", :href => '#pane-wsb-existing', :id => 'tab-wsb-existing'
  %li
    = simple_link :for => "Make New", :href => '#pane-wsb-sektions', :id => 'tab-wsb-sektions', 
      :class => 'nopurge-ever'

.tab-content
  #pane-wsb-quizzes.tab-pane
  #pane-wsb-existing.tab-pane
  #pane-wsb-sektions.tab-pane
    = render :partial => 'teachers/wsb-sektions', :locals => { :teacher => teacher }

    
