
%ul.nav.nav-tabs
  %li
    = simple_link :for => "Quizzes", :href => '#pane-wsl-quiz', :id => 'tab-wsl-quizzes'
  %li
    = simple_link :for => "Worksheets", :href => '#pane-wsl', :id => 'tab-wsl'

.tab-content
  #pane-wsl-quiz.tab-pane
  #pane-wsl.tab-pane
