
-# is_admin is a boolean variable that comes from the layout file 

%ul.dropdown-menu.dropdown-inverse#admin-cust{ role: :menu }
  %li
    = simple_link for: "List", id: 'lnk-cust-list', icon: 'icon-search'
  %li
    = simple_link for: "Create", id: 'lnk-cust-create', icon: 'icon-plus-sign'

