
%ul.dropdown-menu.dropdown-inverse#per-customer{ :role => :menu }
  %li
    = simple_link :for => 'List Contracts', :id => 'lnk-show-contracts', :icon => 'icon-list' 
  %li
    = simple_link :for => 'New Contract', :id => 'lnk-new-contract', :icon => 'icon-plus-sign'
