
-# is_admin is a boolean variable that comes from the layout file 

%ul.dropdown-menu.dropdown-inverse#admin-cust{ role: :menu }
  %li
    = simple_link for: "List Schools", id: 'lnk-school-list', icon: 'icon-search'
  %li
    = simple_link for: "Create School", id: 'lnk-school-create', icon: 'icon-plus-sign'

