
%ul.dropdown-menu.dropdown-inverse#per-quiz
  %li
    %a#lnk-answer-key{ :href => '#', :filter => "order=asc"}= "Download Solution"
    %a#lnk-worksheets{ :href => '#', :filter => "order=desc"}= "Existing Worksheets"
