
%ol.hide{ id: 'qzb-milestone-5', data: { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ data: { id: 'qzb-div-milestone-5' } }
    %h6= "#3"
    %p
      And here are the questions - grouped by the topics you picked
    %p
      Click on a question to load its preview. Click on the <i class='icon-plus-sign'></i> to 
      select it for the quiz
    %p
      Note that many questions have multiple versions -  
      that is - each student will get that question with 
      a slightly different set of values
