
%ol.hide{ id: 'qzb-milestone-7' }
  %li{ data: { id: 'left-1' } }
    %h6= "#5"
    %p
      The quiz you just made is now listed here along with your other quizzes. 
      Also shown is the <b>estimated time</b> after which the PDF for the quiz 
      would be ready and available for download
    %p
      The reason you might have to wait a bit is because making 
      a PDF takes a little time. Moreover, your request for a PDF is <b>placed in 
      a queue</b>. And so, it might be some time before your request gets to 
      the front of the queue and another 40-60 seconds for it to be processed
    %p
      <b>However, you do not need to stay logged-in and wait</b>. If there is nothing 
      else you'd like to do at this time, then by all means log out. Your request is safe
      with us
    %p
      <b>Close this pop-up to end the tutorial</b>
