
#preview-carousel.carousel.slide.hide
  .carousel-inner
  %a.carousel-control.left{ href: "#", 'data-slide' => :prev }
    \&lsaquo;
  %a.carousel-control.right{ href: "#", 'data-slide' => :next }
    \&rsaquo;

