-# Variable teacher comes from the layout file 

%ul.nav.nav-tabs
  %li
    = simple_link for: 'Topics', href: '#pane-buildqz-1', id: 'tab-buildqz-1'
  %li
    = simple_link for: 'Questions', href: '#pane-buildqz-2', id: 'tab-buildqz-2'

.tab-content
  #pane-buildqz-1.tab-pane
    = render partial: 'teachers/shared/qzb-topics', locals: { context: :qzb }
  #pane-buildqz-2.tab-pane
    = render partial: 'teachers/shared/form-qzb', locals: { context: :qzb }

    
