
%p
  As an <b>examiner</b> you will be allocated grading work as and when some student submits
  an assignment
%p
  You will receive a mail letting you know that new grading work has come in for you 
%p
  To start grading, you would need to 
  %ul
    %li
      Log into your Gradians.com account 
    %li
      Click on <b>Workbench</b> in the top control panel. This will open a menu
    %li
      From the menu, select <b>Pending Work > Grade Scans</b>
%p
  As far as possible, prefer giving precise and meaningful feedback to students instead 
  of simply stating that their solution is right or wrong. As far as possible, your 
  feedback should <b>give students something to think about</b>
