
%p
  %ul
    %li
      <b>Download our Android app ...</b> 
      %p
        Click on the link below
      %p
        https://play.google.com/store/apps/details?id=com.gradians.collect&hl=en 
      <b>... then, start practising Maths problems</b>
      %p
        %ul
          %li
            Click on <b>Practice Corner.</b>
          %li
            Select a topic.
          %li
            Start solving problems on that topic as you normally would - with a pen, on paper. 
      %p
        If you find that you got the wrong answer, then you can always send your solution 
        to us and we will take a look. 
      %p
        All that you have to do is 
        %ul
          %li
            Click on the <b>Get Review</b> button. 
          %li
            Take a photograph of the piece(s) of paper you solved the problem on. 
          %li
            Click on <b>Upload</b>. 
      %p
        Within the day, we will have a look at your solution and tell you where we think the problem areas are. 
        Our comments will be visible in the app itself. <b>The review is free</b>. 
      %p
        We are also giving you <b>100 free credit points</b> to use on our site. We call them <b>Gredits (symbol: &#x20b2;)</b>. 
        Use these to purchase the correct answer or solution.
       
        
