
%p
  <b>As a student</b>, you will be able to 
  %ul
    %li
      View and download any quizzes your instructor might have made for you
    %li
      View results and feedback on any quizzes that you submitted in the past 
    %li
      Submit your work on a new quiz for assessment using either the upload 
      functionality in the site or via the downloadable mobile application.
      For now, the mobile application is for Android devices only. But we 
      hope to add other platforms soon

%h3= 'On Grading - how its done'
%p
  Students tend to have questions on how their assignments are assessed. So, let us 
  explain - in brief - the grading process 
%p
  What matters most to examiners are the following 
  %ul
    %li
      That the work done is the student's own. Which means, that even if a student 
      has made mistakes, then the mistakes are his/her own 
    %li
      That the solution makes for a cogent story - even if incorrect. Which means, 
      that if one goes from A to Z in the solution, then its abundantly clear that 
      one went first from A to B, then from B to C and so on
    %li
      That the cogent story is then correct. Which means, that if one needed to go 
      from A to D in the solution, then that is what happened. Going from F to L 
      would then be wrong
%p
  In other words, what an examiner looks for is whether you intended to write what 
  you wrote, justified it and then whether what you wrote is correct
