
%p
  <b>As a teacher/instructor</b>, you will be able to 
  %ul
    %li
      Create quizzes and worksheets for your students
    %li
      Publish quizzes into student accounts so that they can access it from their homes
    %li
      Define the groups to which students will belong over the course 
      of the academic year ( or quarter or semester ) 
    %li
      Upload work submitted by your students on assignments given by you 
    %li
      View results on past - and even still-being-graded - quizzes for all 
      students
    %li
      View statistics on how your students - past and present - fared in the 
      quizzes they did - and what that says about their proficiency in various topics
    %li
      Send question suggestions to us for including the database 
%p
  You might also want to see our <b>Help</b> section if you need help with the above. 
  The help section has <b>guided tutorials</b> on how to perform some of the more common tasks 
