
%h4= "Dear #{@name},"
%p
  Below is a summary of what's pending in your account as of today 
%p
  %ul
    %li
      <b>Grading</b>: #{@tbd_g}
    %li
      <b>Disputes</b>: #{@tbd_d}
%p
  Pending grading work will show up when you login
%p
  To see - and then resolve - disputes (by students) of past grading, do the following 
  %ul
    %li
      Log into your account 
    %li
      Click on <b>Workbench</b> in the control panel. This will open a menu 
    %li
      Select <b>Resolve Disputes</b>
    %li
      <b>Accept or reject</b> disputes on a case-by-case basis once loaded
%p
  If you have any questions, then please write to <b>help@gradians.com</b>
