
%p
  This is to let you know that <b>#{@testpaper.name}</b> for quiz <b>#{@quiz.name}</b>
  has been graded
%p
  The mean score was <b>#{@mean} percent</b>. You can view individual results for students
  by logging in
%p
  <b>Gradians Support Team</b>
