
%p
  Go get'em Tiger
%p
  %ul
    %li
      Try and identify the root-cause issue in an imperfect solution. This is the 
      first place where the solution started going wrong
    %li
      Aim to give feedback that makes students think about gaps in their solution - 
      and not worry about what they scored
    %li
      Which means, rather than spoon feed an answer, prefer instead to pose questions at the root-cause


