
%p
  Dear #{@name},
%p
  Your password has been reset to <b>#{@passwd}</b>
%p
  Please note
  %ul
    %li
      The password is <b>case-sensitive</b>. Hence, enter it exactly as it is written here. 
    %li
      The password is the same for both the <b>web-site</b> and the <b>mobile-app</b>. 
    %li
      You should change it soon to something you  can remember easily. 
%p
  <b>How to change your password</b>
  %ul
    %li
      Login to www.gradians.com using the password above and this e-mail.
    %li
      Then, click on <b>Hello, #{@name}</b> in the top-right corner. This will open a menu. 
    %li
      Click on <b>Edit Account Details</b>. 
    %li
      Enter the new password. If you want to change your e-mail address, then specify that too. Otherwise don't.
%p
  If you have any further queries, then please write to <b>help@gradians.com</b>.

  

