Dear #{@student.first_name}
%p
  A new assignment has been posted in your account.
%p
  %ul
    %li
      <b>If you haven't already</b>, download our Android app - <b>Scanbot</b> -  from Google Play. 
      Search for <b>Gradians.com</b>. The very first app should be the Scanbot. 
    %li
      Start the app.
    %li
      Login using the same e-mail and password that you use on the site. 
    %li
      Look for <b>#{@quiz.name}</b> in the Inbox. Select it to view the questions in it.
    %li
      Write your solutions <b>on plain paper, using a pen</b>. 
    %li
      When done, <b>photograph the pages</b> and then upload. 
