
Dear #{@to_name}, 

%p
  This is to let you know that <b>#{@from_name}</b> has shared a 
  quiz titled <b>#{@quiz_name}</b> with you
%p
  The quiz will show up in your list of quizzes. And it can be used, edited 
  and assigned like any other quiz 
%p
  <b>Gradians Support Team</b>

