%p
  An error occurred <b>during make</b> in <b>mint/</b> on Linode
%p
  %ul
    %li
      Type: #{@type}
    %li
      ID: #{@id}
    %li
      Folder: "mint/errors/#{@ref}"
    %li
      During: #{@during}
