
%p
  Dear #{@s.first_name},
%p
  The scan for the following question is hard to read. Hence, please <b>re-upload</b> 
  your solution <b>using our mobile app - Scanbot</b>.
  %ul
    %li
      <b>Quiz</b>: #{@quiz}
      <b>Question</b>: #{@question}
%p
  As far as possible, try and 
  %ul
    %li
      Capture just the page, and nothing else, while photographing your solution. 
    %li
      Keep your mobile phone steady as you do. 
%p
  Thanks,
%p
  Team Gradians.com
