
%p
  Dear #{@teacher.first_name},
%p
  We have received some new scans today from you for grading 
%p
  They have been distributed amongst designated graders. The results 
  would be ready and available in <b>3 business days</b> - that is -
  by <b>#{@deadline.strftime("%I:%M%p")} GMT</b> on <b>#{@deadline.strftime("%A, %b %d")}</b>
%p
  <b>Gradians Support Team</b>
