
%h3= "Dear #{@teacher_name},"
%p
  Thank you for the suggested question(s) you sent us on #{@date}! Please keep them coming!
%p
  Your suggestion(s) have been typeset into the Gradians system. You may access  
  them using the standard procedure to build a 'new quiz'. They will be listed 
  in your favourites. 
%p
  Needless to say, we are here to help. Write to us on <b>help@gradians.com</b> with any queries
  that you may have. 
%p
  Warm regards,
  <b>Gradians Support Team</b>

