
%h3= "Dear #{@name},"
%p
  We have finished typesetting the questions you sent on <b>#{@date}</b> using the suggestion form.
  These questions have also been added to your favourites
%p
  Go to <b>my questions</b> to see what topic headings the questions have been placed under. 
  This way, the next time you build a quiz and want to use one of your suggested questions, you
  will know which topics to pick
%p 
  As always, we are here to help. And so if you have any queries, then please feel to write 
  to us on <b>help@gradians.com</b>
%p
  Warm regards,
  <b>Gradians Support Team</b>

