
%h3= "Thank you for registering with Gradians.com"
%p
  Your <b>account</b> has been created. You can access it using this
  email address and the password you specified.

%h4= "What next?"
%p 
  As your teacher creates quizzes for you, you will have access to them. You
  can  go ahead and print out the worksheets, solve them to the best of your 
  ability - NO ONE gets to judge your work but you and your teacher.
%p
  There is <b>no pressure</b> to get the right answer. The main motivation
  behind this system is to create a safe space where you can experience the
  subject as a fun mental challenge at your own pace. 
%p
  Needless to say, we are here to help as you try gradians.com out. Write to 
  us on <b>help@gradians.com</b> with any queries that you may have 
%p
  <b>Gradians Support Team</b>

