
%h3= "Thank you for registering with Gradians.com"
%p
  Your <b>free account</b> has been created. You can access it using this email
  address and the password you specified during registration.

%h4= "What next? Make a quiz!"

%p
  %ol
    %li 
      Pick topics and questions to build a quiz
    %li 
      Assign this quiz to students from the sample class <b>gradians</b>.  
    %li
      Download and print the testpaper PDF. 
    %li
      Attempt it as though you were a student. 
    %li
      Scan the testpaper and send it to us using our downloadable scanning utility <b>Scanbot</b>.
      We will grade the papers and the reports would become available in your account
%p
  There is <b>no limit</b> on how many times you can repeat the above cycle. 
  Use the online How-To documentation as a step-by-step guide. It covers all 
  the steps described above and can be of great help while getting started.
 
%p
  Needless to say, we are here to help as you try gradians.com out. Write to 
  us on <b>help@gradians.com</b> with any queries that you may have 
%p
  <b>Gradians Support Team</b>

