
%h5= "Dear #{@account.loggable.first_name}," 
%p
  Thank you for registering with Gradians.com. Your account has been 
  created and you can access it using the e-mail and password you 
  provided during registration

%p
  If you haven't tried it already, we highly recommend <b>QuickTrial</b>. 
  QuickTrial gives an overview of what its like to use the site in 3-easy steps -
  Make a worksheet (for a fictitious student), print it out and write something,
  Scan and Upload it for grading

%p
  In QuickTrial, we pick the questions for you, but of course you would want 
  to pick your own and make your own quiz.

%p
  And therefore, as the next step, we would recommend you try making your own quiz. 
  Refer to our help to see how this - and other common tasks - are done. When you 
  select a topic from <b>Help</b>, it will start a guided tour that will tell you 
  where to click and what to do next. Its quite simple really

%p
  However, if you still need help - or have questions - then do feel free to write to 
  us at <b>help@gradians.com</b>. We are here to answer all your questions

%p
  %h5
    Abhinav and Akshay<br/>
    Co-founders, Gradians.com
