
%p
  Hello #{@student.first_name},
%p
  This is to let you know that your work on <b>#{@quiz.name}</b> by your teacher 
  <b>#{@quiz.teacher.name}</b> has been graded
%p
  You can now login into your account - using the e-mail and password you provided - 
  to view our feedback on your work
%h3= "The Grading Process"
%p
  You might have questions on how we grade and what we look for in the work you do.
  So, let us tell you now
%p
  When we grade your assignments, we ask ourselves the following questions
  %ul
    %li
      <b>Is the work done the student's own?</b>When something has been plagiarised, it shows. 
      We like to see you making your own mistakes - not someone else's
    %li
      <b>Is the work mathematically sound?</b> Which means, has the student identified the key 
      to solving the problem and followed it up with mathematical work 
    %li
      <b>Does the solution make for a cogent story?</b> In other words, if one were 
      to read the solution from start to finish, could one easily see what you (the student) 
      were thinking
%p
  Other than these, we do not care for much else - least of all the final answer. 
  If you understand the underlying Math, you will eventually get to the answer

%h3="What if I don't like my grade?"
%p
  You can always contest the grade that you got. Look for a <b>Regrade</b> button when 
  viewing the report card for an assignment 
%p
  Know that you can contest the grade only once and must provide a reason for why you think 
  the question should be re-graded. The grader could then decide to accept or reject your request
%p  
  Should the grader accept to regrade, your new - and final - score could be lower, higher or
  the same as before 
%p
  With best wishes,
%p
  <b>The Gradians.com Team</b>
