
%p
  Hello #{@student.first_name},
%p
  This is to let you know that your work on <b>#{@quiz.name}</b> by your teacher 
  <b>#{@quiz.teacher.name}</b> has been graded
%p
  You can now login into your account - using the e-mail and password you provided - 
  to view our feedback on your work
%p
  The most important takeaway for you should be the feedback that we give - in the 
  form of comments and a colour code
%p
  The colour code - which could be <b>red, orange or green</b> - is our estimate 
  of whether the question has been attempted honestly or not
%p
  %ul
    %li
      <b>Green</b> means that we are fairly certain that the work done is your own.
      An unattempted question gets a green because its been honestly left unattempted
    %li
      <b>Orange</b> means that we suspect plagiarism - but cannot say for sure. You still 
      get full credit for the question - but have left some doubt in our mind
    %li
      <b>Red</b> means we are fairly certain that the work has been plagiarized. A red 
      results in an automatic zero for that question
%p
  <b>#{@student.first_name}</b>, please know that we intentionally do <b>not</b> show 
  you your score - just as we do not show your friends their scores 
%p
  Our aim is not to rank order you - but to help you relax about Maths and use our feedback 
  to improve. As we like to say at Gradians.com - <b>Grades will happen</b>. And they will.
  Take it from people who were once in school just like you 
%p
  With best wishes,
%p
  <b>The Gradians.com Team</b>
