
%ul.nav.nav-tabs.always-on
  %li
    = simple_link :for => "To Do", :id => 'tab-audit-todo', :href => '#pane-audit-todo'
  %li
    = simple_link :for => "Review", :id => 'tab-audit-review', :href => '#pane-audit-review'

.tab-content
  #pane-audit-todo.tab-pane
    .row-fluid.no-remove
      = simple_link :for => "Audit", :class => 'btn btn-inverse pull-right', :id => 'lnk-audit-form'
  #pane-audit-review.tab-pane
