
#block-db-slots.new-entity
  %h4 know this..
  %p 
    You are about to create 5 slots - for 5 questions - in the database.
    The whole process intentionally takes upto 5 seconds because the 
    computer waits a bit between each request for a new slot
  %h4 thereafter ..
  %p 
    Once the slots are made, bring-in the newly created folders into your machine 
    by issuing the following commands:
    %ol
      %li.code git fetch upstream
      %li.code git merge upstream/master
  %h4 if you don't want to proceed ...
  %p
    \... then click 'Cancel' below. However, once the process starts, do not 
    close the dialog until it finishes. You can wait for 5 seconds, right?
  .submit-buttons
    %input.left#btn-cancel{ :type => :button, :value => "Cancel"}
    %input.right#btn-submit{ :type => :button, :value => "Go ahead.." }
