
%ul.nav.nav-tabs.always-on
  %li
    = simple_link for: 'Disputes', id: 'tab-disputes', href: '#pane-disputes'
.tab-content
  #pane-disputes.tab-pane
    .row-fluid 
      = simple_button for: 'See solution', id: 'btn-dispute-soln', class: 'btn btn-inverse pull-right'
