
-# Left-side tabs - one per section
#verticals-tab.tabbable.tabs-left
  %ul.nav.nav-tabs.span4.purge-skip
    - Vertical.order(:name).each do |m|
      %li
        = simple_link :for => "#{m.name}", :toggle => :tab, :marker => "#{m.id}",
        :href => "#pane-vertical-topics", :url => { :self => "vertical/topics.json?id=:id" }

  .tab-content.span7
    #pane-vertical-topics.tab-pane.purge-blind
