
#ungraded-responses.flipchart
  %ul
    %li
      %a{ :href => '#pending-quizzes'}= 'quizzes'
    %li
      %a{ :href => '#pending-pages' }= 'by page'
    %li
      %a{ :href => '#pending-students' }= 'per student'
  #pending-quizzes
  #pending-pages
  #pending-students

