
#ungraded-responses.flipchart
  %ul
    %li
      %a{ :href => '#pending-quizzes' }= "1. Quizzes"
    %li
      %a{ :href => '#pending-pages' }= "2. Pages"
    %li
      %a{ :href => '#pending-scans' }= "3. Grade It!"

  #pending-quizzes
  #pending-pages
  #pending-scans
    #list-pending.hidden
    = render :partial => 'examiners/abacus'

