
#schools-summary.selection.full-width.left{ :middle => '#new-studygroups', :right => '#new-teacher'}
  %legend
    %span.target= "Schools"
    %span.operation= "Select One"
  .purgeable.clear-before-show.empty-on-putback 

