
#n-first-scan.modal.regular.hide.fade.row-fluid{ data: { :autohide => 6000 } }
  .span3
    = image_tag 'notifications/first.png', class: 'big-icon'
  .span8
    %p.title.underline= "First Scan"
    %p
      This is the first scan in the set
