
#n-last-scan.modal.regular.hide.fade.row-fluid{ data: { :autohide => 6000 } }
  .span3
    = image_tag 'notifications/last.png', class: 'big-icon'
  .span8
    %p.title.underline= "Last Scan"
    %p
      If you are done grading, then please move onto other pages 
