
#n-missing-comments.modal.regular.hide.fade.row-fluid{ data: { autohide: :never } } 
  .span3
    = image_tag 'notifications/keyboard.png', class: 'big-icon' 
  .span8
    %p.title.underline= 'Missing Comments!' 
    %p
      <span class='orange'>Write atleast one comment on every scan</span>. 
    %p
      If the solution is perfect, then compliment the student. 
    %p
      If the solution is blank, then give the student broad guidelines on how he/she could solve the problem. 
    %p
      <b>At any rate, talk to students. They want to hear from you.</b>
    
