
#faq-about-us.row-fluid
  %h3.orange= "Who we are"
  .span8
    .accordion{ id: 'au' }
      .accordion-group

        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#au', toggle: 'collapse' }, href: '#au-2' }
            Abhinav Chaturvedi, Co-founder
        .accordion-body.collapse{ id: 'au-2' }
          .accordion-inner
            %p
              A graduate of Anderson School of Management UCLA, Abhinav first 
              realized the need for gradians.com while grading papers for his 
              statistics professor. It occurred to him that if the teachers  
              had to do this themselves, they could not do it very often.
              This was the genesis of the idea.
            %p
              Prior to this Abhinav was a software engineer in the semiconductor
              industry. From a young age he has cultured an avid interest in
              Computer Programming and an inveterate curiousity in how 
              systems work.
            %p
              He is also good at racquet sports.

        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#au', toggle: 'collapse' }, href: '#au-3' }
            Akshay Damarla, Co-founder
        .accordion-body.collapse{ id: 'au-3' }
          .accordion-inner
            %p
              A graduate of NYU's Courant Institute of Mathematical Science,
              Akshay has been involved with Gradians.com from its inception. 
              He worked in the Financial Services industry for several years
              before joining Abhinav and brings with him an appreciation for 
              technology driven analysis and data management.
            %p
              While in graduate school he worked in the New York City public
              school system as part of an NYU initiative which sent students to
              High Schools to help as Teaching Assistants.
            %p
              He shares Abhinav's passion for elegant Software systems 
              and also for sports.

