
#faq-general.row-fluid
  %h3.orange= "Generally"
  .span8
    .accordion{ id: 'gn' }
      .accordion-group

        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#gn', toggle: 'collapse' }, href: '#gn-1' }
            Grading is tedious work. So why is Gradians doing it? 
        .accordion-body.collapse{ id: 'gn-1' }
          .accordion-inner
            %p
              We do what we do because we believe that a teacher's time is a precious 
              resource that is best spent teaching new concepts and assisting students 
              when they struggle
            %p
              And so, we started wondering - how can we get teachers more time to do just that? 
            %p
              That is when we decided to address the issue of grading. Assessing student understanding 
              is central to effective pedagogy. But collecting this kind of data takes time - a lot of time
            %p
              We want to save teachers that time so that they can focus solely and exclusively on 
              students 
            %p
              We want to make it easy for teachers to build a detailed picture of student performance 
              over the course of a school year. We want to leave teachers free to study the statistics 
              and to then use that information to develop strategies for the classroom and for individual 
              students
            %p
              If we can do that in classrooms around the world, then we would have done good

        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#gn', toggle: 'collapse' }, href: '#gn-2' }
            What subjects do you cover?
        .accordion-body.collapse{ id: 'gn-2' }
          .accordion-inner
            %p
              We are starting with Mathematics. And  going forward, we could extend the system  
              to cover the other sciences - like Physics, Chemistry, Computer Science etc. 
            %p
              Social sciences are tricky though. We are not sure whether a History teacher - for example - 
              would agree with our assessment of her student's work. That is not a problem with 
              the sciences though because what is scientifically sound in one place is scientifically 
              sound everywhere else too


      -#
        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#gn', toggle: 'collapse' }, href: '#gn-4' }
        .accordion-body.collapse{ id: 'gn-4' }
          .accordion-inner

