
#faq-grading.row-fluid
  %h3.orange= "On Grading"
  .span8
    .accordion{ id: 'fgr' }
      .accordion-group

        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#fgr', toggle: 'collapse' }, href: '#fgr-2' }
            I know my students and I grade accordingly. Why should I trust your grading?
        .accordion-body.collapse{ id: 'fgr-2' }
          .accordion-inner
            %p
              True. We do not know your students and its unlikely we will ever
              know them personally
            %p
              All that we can offer, therefore, is an impartial assessment on the mathematical 
              soundness of a student's work.
              That assessment includes a numerical score earned on each question. But more importantly it includes 
              open-ended feedback - in the form of comments - that we hope students will use 
              as a basis for further study, discussion and improvement
            %p
              And for what its worth, we can only submit to you that what is mathematically 
              sound in one place is mathematically sound everywhere else too

        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#fgr', toggle: 'collapse' }, href: '#fgr-3' }
            Who does the grading?
        .accordion-body.collapse{ id: 'fgr-3' }
          .accordion-inner
            As of now, our engineers do. For the subjects we are targetting, we feel our engineers 
            are amply qualified to assess student work - given that they have all 
            studied advanced maths and science at university level

        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#fgr', toggle: 'collapse' }, href: '#fgr-4' }
            Do your graders give marks?
        .accordion-body.collapse{ id: 'fgr-4' }
          .accordion-inner
            Not directly. For each question, our graders give structured and free-flowing 
            feedback that the system then uses to calculate a numerical score. If two 
            students get the same feedback, then they will get the same score - irrespective 
            of who the graders were

        .accordion-heading
          %a.accordion-toggle{ data: { parent: '#fgr', toggle: 'collapse' }, href: '#fgr-5' }
            How long would it take to grade an assigment?
        .accordion-body.collapse{ id: 'fgr-5' }
          .accordion-inner
            %p
              If the work of all students has been scanned together and sent in one set, then 
              we aim to have it graded within three (3) working days after submission
            %p
              When graded, teachers and students will get an e-mail to let them know that 
              results can now be seen
