
#faq-terminology.row-fluid
  %h1.white= "Terms we use"
  .span5
    %p.question= "Quiz"
    %p
      A collection of questions - with their solutions. Making a quiz will 
      usually be the first thing you do
    %p
      To make a quiz, you will need to pick questions.
      Thereafter, you can make worksheets for individual students based on this quiz

    %p.question= "Group" 
    %p
      A collection of students 
  .span5.offset1
    %p.question= "Worksheet"
    %p
      Just a like quiz - but with blank space after every question for students 
      to write their solution in
    %p
      To make a worksheet, you first need to pick a quiz and then the student(s) 
      you want to give the quiz to. Please note that worksheets are personalized 
      for every student
    %p
