
-# teacher and server come from layout file

%ul#teacher-quiz.dropdown-menu.pull-right{ :role => :menu }
  %li
    = simple_link for: 'New', id: 'lnk-new-quiz', icon: 'icon-plus-sign'
  %li
    = simple_link for: 'List', id: 'lnk-existing-quiz', icon: 'icon-list'
