
%ul.dropdown-menu.dropdown-inverse#tc-sektions{ :role => :menu }
  %li
    = simple_link for: "New", id: 'lnk-add-sektion', :icon => 'icon-plus-sign',
    href: '#m-new-sk-1'
  %li
    = simple_link for: "List", id: 'lnk-mng-sektions', :icon => 'icon-list'
