
$gray: #191919 ; // rgb(25,25,25)
$lightgray: lighten($gray, 30%) ;
$gradians-blue: #6ca7ab ; // rgb(108,167,171)
$orange:#ffa500 ; // rgb(255,165,0)
$panel-colour: lighten(black, 17%) ;
$deep-blue: #0081c2 ; // rgb(0,129,194)
$background: darken($panel-colour, 12%) ;
$lightblue: lighten($deep-blue, 23%) ;
$red: #d72323 ; // rgb(215, 35, 35)
//$green: #57bc20 ; // rgb(87,188,32)
//$green: #27830e ; // rgb(87,188,32)
$green: #23898f ; // rgb(87,188,32)

.bar-text {
  font-size: 10px ;
  fill: white ;
} 

.bar { 
  fill: steelblue ; 
  border: 1px solid white ;
} 

text {
  fill: white ;
  font-size: 10px ;
  &.labels { 
    font-size: 10px ;
    font-weight: 300 ;
  } 
}

rect {
  &.green{ fill: darken($green, 5%) ; }
  &.disabled{ fill: lighten($background,55%) ; } 
  &.light{ fill: lighten($green, 50%) ; }
  &.medium{ fill: lighten($green, 30%) ; }
  &.dark{ fill: lighten($green,10%) ; }
  &.red{ fill: lighten($red,10%) ; }
 
} 
