
$gray: #191919 ; // rgb(25,25,25)
$lightgray: lighten($gray, 30%) ; // rgb(102,102,102)
$gradians-blue: #6ca7ab ; // rgb(108,167,171)
$orange:#ffa500 ; // rgb(255,165,0)
$panel-color: lighten(black, 17%) ; // rgb(43,43,43)
$deep-blue: #01537d ; // rgb(1,83,125)

.exploded { 
  .line { 
    min-height: 10px ;
    max-height: 20px ;
    border: {
      bottom: 1px dotted white ;
    }
  } 

  > .row-fluid {
    padding-bottom: 10px ;
  } 
  .name {
    font: { size: 25px ; weight: 300 ; } 
    line-height: 30px ;
  }

  .author { 
    font: { size: 12px ; weight: 300 ; }
    color: $orange ;
  } 

  .description {
    font: { size: 12px ; }
    line-height: 15px ;
  }

  .heading { 
    font: { size: 13px ; weight: 300 ; }
    padding: { 
      top: 7px ;
      bottom: 7px ;
    }
    text-align: center ;
    border: {
      top-left-radius: 8px ;
      top-right-radius: 8px ;
      style: none ;
    }
    background: rgba(43,43,43,0.5) ;
  } 
}
