
form.formtastic { 
  font-family : "Trebuchet MS", Helvetica, Arial, sans-serif;
} 

form.formtastic fieldset.inputs p.inline-hints {
   font-size : 9px ; 
   text-align : justify ;
   float : left ;
   text-transform : uppercase ;
} 

form.formtastic fieldset.inputs label.label { 
  font-size : 13px ;
  text-transform : lowercase ;
} 

fieldset.inputs textarea, fieldset.inputs input[type="text"] {
  font-family : "Trebuchet MS" ;
  font-size : 13px ;
  border : 1px solid #6ca7ab; 
  background : inherit ; 
  font-style : sans-serif;
  padding-left : 5px ;
  -moz-border-radius : 3px ;
  border-radius : 3px ;
  padding-bottom : 4px ;
  padding-top : 4px ;
} 

fieldset.inputs select {
  font-size : 12px ;
} 

fieldset.buttons { 
   margin-top : 10px ;
} 

.formtastic fieldset.boolean-flags li {
  padding : 0px ; 
  float : left ;
  text-transform : lowercase ;
} 
