
$blue:#00007f ;
$gray:#191919 ;
$light-gray: lighten($gray, 30%) ;

body {
  font-family : "Trebuchet MS", Helvetica, Arial, sans-serif ; 
  width : 1020px ;
  background-color: darken($blue, 30%) ;
  color: white ;
} 

.instructions {
  text-align: justify ;
  font: {
    size: 12px ;
    weight: normal; 
  }
  color: $light-gray ;
  margin-bottom: 20px ;
}

.part-form {
  border-top: 2px solid $light-gray ;
  padding-top: 20px ;
}

#control-panel { 
  padding-top : 10px ;
  height : 100px ;
  border: {
    bottom: 3px solid lighten($gray, 30%) ; 
  }

  #main-links, #minor-links {
    list-style-type : none ;
    min-height: 30px ;
  }
} 

.full-width, .formtastic .text textarea.full-width { 
   width: 100% ;
} 

.ui-tabs-panel {
  background-color: lighten($gray,30%) ;
}

.swiss-knife { 
  min-height: 25px ;
  border-bottom: 1px solid lighten($gray, 30%) ; 
  padding-top: 3px ;
  color: white ;
  font-size: 12px ;
  font-weight: normal ;
} 

.as-accordion .swiss-knife { /* when within an accordion */
  min-height : 17px ;
  border : none ;
}

.swiss-knife > .label {
  margin-left : 5px ;
}

.flipchart .submit-buttons {
  min-height : 20px ;
  margin-bottom : 20px ;
}

form.formtastic > .submit-buttons > input {
  border: {
    style: none ;
    radius: 4px ;
  }

  font: {
    family: inherit ;
    size: 12px ;
    weight: bold ;
  }
  color: white ; 
  background-color: #6ca7ab ;
  -moz-border-radius: 4px ;
  padding: 6px ;
  text-align : center ;
  text-decoration: none ;
  min-width: 50px ;
  margin-bottom: 18px ;
}

#side-panel {
  width: 320px ;
  border-right: 3px solid lighten($gray, 30%) ;
  padding-right: 10px ;
  min-height: 400px ;

  .ui-state-active {
    a:link {
      color: white ;
    }
  }
  .ui-state-disabled {
    a:link {
      color: white ; 
    }
  }

  .ui-widget-header, .ui-tabs-nav {
    background-color: inherit ; 
  }

  .ui-widget-content, .ui-widget-header {
    background: transparent ;
  }

}

#middle-panel, #right-panel {
  width: 300px ;
  padding-left: 20px ;
}

legend { 
  width: 100% ;
  
  margin: {
    bottom: 15px ;
  }
} 

///////////////  formtastic form changes ///////////////////////////

fieldset.inputs {
  textarea, input[type="text"], input[type="password"], input[type="email"] {
    font: {
      family: "Trebuchet MS" ;
      size: 13px ;
    } 

    border: {
      radius: 0px ;
      style: solid ;
      width: 1px ;
      color: lighten($gray, 30%) ;
    } 
    -moz-border-radius: 0px ;
    background-color: lighten($gray, 80%) ;
    color: $gray ;

    font-style : sans-serif;
    padding: {
      left: 6px ;
      bottom: 5px ;
      top: 5px ;
    }
  }
} 

