
$gray:#191919 ;
$light-gray: lighten($gray, 30%) ;

$pink:#e3105a ;
$blue:#00007f ;
$orange:#ffa500 ;
$green:#168816 ;
$my-blue: #6ca7ab ;
$my-gray: #4c4c4c ;

/*
  On www.codestyle.org, one can build combinations of font-families
  and see what the probability for a particular font-family 
  to be picked up on various platforms is. It also show that probability
  of defaulting to the generic font-family - in our case, sans-serif
*/


body {
  font: {
   family: Ubuntu,
            "Trebuchet MS",
            "Lucida Grande",
            "Lucida Sans",
            "DejaVu Sans",
            "Lucida Sans Unicode",
            sans-serif;
    size: 9.5pt ;
  }
  width : 1020px ;
  background-color: $gray ; 
  color: $gray ;
} 

input::-webkit-input-placeholder {
  color: $my-blue ;
  font : {
    family: Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif; 
    size: 13px ;
  }
}

.form-title {
  color: $orange ;
  margin-bottom: 20px ;
  font: { 
    size: 15px ;
  }
  text: {
    align: center ;
    transform: lowercase ;
  }
}

p > a, div > a { 
  text-decoration: none ;
  color: $my-blue ;
} 

#viewport {
  width: 850px ;
  min-height: 100px ;
  margin: {
    top: 25px ;
    left: 10% ;
    right: 10% ;
  }
  //border-bottom: 3px solid #ffa500 ;
}

#public-links {
  height: 30px ;
  width: 95% ;
  border-bottom: 3px solid $my-blue ; 
} 

#company-logo {
  min-height: 40px ;
  width: 100% ;
  margin-bottom: 70px ;
  
  > #gradians_logo {
    margin-right: 40px ;
    float: right ;
  }
  
  > #motto {
    font-size: 14px ; 
    color: $my-blue ;
    float: none ;
  }
}

#flot-chart {
  width: 600px ;
  height: 800px ;
  margin-left: 40px ;
  margin-top: 40px ;
}

#footer {
  width: 80% ;
  text-align: center ;
  border-top: 1px solid $light-gray ;
  float: left ;

  margin: {
    left: 10% ;
  }
  
  > #copyright-notice {
    width: 80% ;
    margin: {
      left: 10% ;
      top: 2% ;
    }
    
    font: {
      size: 13px ;
      weight: normal ; 
    }
    color: $light-gray ;
  
    #copyright-validity {
  	  float: left ;
      margin-right: 10px ;
    } 
  }
}

.data-point-label {
  font: {
    size: 11px ;
    weight: normal ;
  }
  position: absolute ;
  color: $orange ;
}

.tickLabel {
  font: {
    size: 12px ;
  }
  color: $my-blue ;
  text-transform: lowercase ;
}

.what-next, .what-now { 
  min-height: 80px ;
  margin-bottom: 20px ;
} 

.instructions {
  text-align: justify ;
  font: {
    size: 12px ;
    weight: normal; 
  }
  color: $light-gray ;
  margin-bottom: 20px ;
}

.part-form {
  border-top: 2px solid $light-gray ;
  padding-top: 20px ;
}

#control-panel { 
  padding-top : 10px ;
  height : 100px ;
  border: {
    bottom: 3px solid lighten($gray, 30%) ; 
  }

  #main-links, #minor-links {
    list-style-type : none ;
    min-height: 30px ;
  }
} 

.full-width, .formtastic .text textarea.full-width { 
   width: 100% ;
} 

.ui-tabs-panel {
  background-color: lighten($gray,30%) ;
}

.swiss-knife { 
  min-height: 22px ;
  border-bottom: 1px solid $my-blue ; 
  padding: {
    top: 2px ;
    bottom: 1px ;
  }
  color: white ;
  cursor: pointer ;
} 

.as-accordion .swiss-knife { /* when within an accordion */
  min-height : 17px ;
  border : none ;
}

.swiss-knife > .label {
  margin-left : 5px ;
}

.flipchart .submit-buttons {
  min-height : 30px ;
  margin-bottom : 20px ;
}

.submit-buttons { 
  min-height: 40px ;
  margin-bottom: 10px ;

  > input[type="submit"], > input[type="button"] {
    border: {
      style: none ;
      radius: 4px ;
    }

    font: {
      family: inherit ;
      size: 12px ;
      weight: bold ;
    }
    color: white ; 
    background-color: $my-blue ;
    -moz-border-radius: 4px ;
    padding: 6px ;
    text-align : center ;
    text-decoration: none ;
    min-width: 50px ;
    margin-bottom: 18px ;
  }

  > input[type="text"] {
    float: left ; 
    width: 60% ;
    padding: 5px 6px 5px 6px ;
    font-size: 13px ;
    border-radius: 0px ;
    margin-right: 10px ;
  }

  > legend { 
    color: $orange ;
    font-size: 13px ;
    margin-top: 4px ;
    text-transform: lowercase ;
  }
}

#side-panel {
  width: 320px ;
  padding-right: 10px ;
  min-height: 820px ;
  border-right: 3px solid lighten($gray,30%) ;

  .ui-state-active {
    a:link {
      color: #ffa500 ;
    }
    border: none ;
  }
  .ui-state-disabled {
    a:link {
      color: white ; 
    }
  }

  .ui-state-hover {
    border:none ;
  }

  .ui-widget-header, .ui-tabs-nav {
    background-color: inherit ; 
  }

  .ui-widget-content, .ui-widget-header {
    background: transparent ;
  }

}

#middle-panel, #right-panel {
  width: 300px ;
  padding-left: 20px ;
}

#topic-selection > legend { 
  width: 100% ;
  
  margin: {
    top: 15px ;
    bottom: 15px ;
  }
} 

legend {
  margin: {
    top: -5px ;
    bottom: 20px ;
  }
  font-size: 14px ;
  color: $orange ;
  text-transform: lowercase ;
  border-bottom: 1px solid $light-gray ;
  padding-bottom: 20px ;
}

legend + form {
  margin: {
    top: -13px ;
  }
}

///////////////  formtastic form changes ///////////////////////////

fieldset.inputs {
  textarea, input[type="text"], input[type="password"], input[type="email"] {
    font: {
      family: "Trebuchet MS" ;
      size: 13px ;
    } 

    border: {
      radius: 0px ;
      style: solid ;
      width: 1px ;
      color: lighten($gray, 30%) ;
    } 
    -moz-border-radius: 0px ;
    background-color: lighten($gray, 80%) ;
    color: $gray ;

    font-style : sans-serif;
    padding: {
      left: 6px ;
      bottom: 5px ;
      top: 5px ;
    }
  }
} 

span.unhappyMessage {
  color: #ffa500 ;
  font: {
    weight: normal ;
    size: 11px ;
  }
}

.ticker, .ys-ticker, .grd-ticker {
  color: $orange ;
  font: {
    size: 24pt ;
    weight: normal ;
  }
}

.micro-ticker {
  color: #ffa500 ; 
  font: {
    size: 9pt ;
    weight: normal ; 
  }
  margin-right: 3% ;
}

.led {
  color: #ffa500 ;
  font: {
    size: 12pt ;
  }
}

.micro-ticker.complete {
  color: $my-blue ;
}

.micro-ticker.box {
  width: 20% ;
  color: white ;
  border: {
    radius: 4px ;
  }
  text-align: center ;
  padding: {
    top: 2px ;
    bottom: 2px ;
  }
}


.grd-control {
  height: 45px ;
}

.grd-label {
  font-size: 14px ;
  max-width: 30% ;
  margin-top: 13px ;
  margin-right: 20px ;
}

.grd-slider {
  margin-top: 20px ;
  width: 50% ;

}

.grd-slider.ui-slider-horizontal, .ys-slider.ui-slider-horizontal {
  height: 0.5px ;
  border: {
    style: solid ;
    width: 1px ;
    color: white ;
  }
  margin-bottom: 20px ;

  > a.ui-slider-handle {
    height: 10px ;
    width: 7px ;
    border: {
      style: solid ;
      width: 1px ;
      color: $orange ;
      radius: 4px ;
    }
    background-color: $orange ;
  } 
  background-color: white ;
} 

#new-examiners form li {
  width: 90% ;
  float: left ;

  > input {
    float: right ;
  }
}

.swiss-knife[marker="highlight"] {
  color: $orange ;
}

.selected {
  color: $orange ;
}

.grading-panel-question-label {
  height: 20px ;
  font: {
    size: 13px ;
  }
  margin-bottom: 10px ;
  border-bottom: 2px solid $light-gray ;
  color: white ;
}

.grade-btns-mcq.ui-buttonset, .grade-btns-non-mcq.ui-buttonset {
  margin-bottom: 20px ;
  > label {
    color: white ;
    border: {
      radius: 4px ;
    }
    margin-right: 0px ;
    > span {
      padding: 0.4em 5px ;
    }

  }

  > label.clicked {
    background-color: transparent ;
    color: white ; 
    border: 1px solid #ffa500 ;
  }

  > label[color="non-mcq-1"]:not([class~="clicked"]) {
    background-color: lighten($pink, 30%) ;
  }
  > label[color="non-mcq-2"]:not([class~="clicked"]) {
    background-color: lighten($pink, 20%) ;
  }
  > label[color="non-mcq-3"]:not([class~="clicked"]) {
    background-color: lighten($pink, 10%) ;
  }
  > label[color="non-mcq-4"]:not([class~="clicked"]) {
    background-color: lighten($orange, 10%) ;
  }
  > label[color="non-mcq-5"]:not([class~="clicked"]) {
    background-color: lighten($orange, 0%) ;
  }
  > label[color="non-mcq-6"]:not([class~="clicked"]) {
    background-color: lighten($green, 13%) ;
  }
  > label[color="non-mcq-7"]:not([class~="clicked"]) {
    background-color: saturate($green, 50%) ;
  }

  > label[color="mcq-1"]:not([class~="clicked"]) {
    background-color: lighten($blue, 50%) ;
  }
  > label[color="mcq-2"]:not([class~="clicked"]) {
    background-color: lighten($blue, 40%) ;
  }
  > label[color="mcq-3"]:not([class~="clicked"]) {
    background-color: lighten($blue, 30%) ;
  }
  > label[color="mcq-4"]:not([class~="clicked"]) {
    background-color: lighten($blue, 20%) ;
  }
  > label[color="mcq-5"]:not([class~="clicked"]) {
    background-color: lighten($blue, 10%) ;
  }

}

  div.micro-ticker[color="non-mcq-1"]{
    background-color: lighten($pink, 30%) ;
  }
  div.micro-ticker[color="non-mcq-2"]{
    background-color: lighten($pink, 20%) ;
  }
  div.micro-ticker[color="non-mcq-3"]{
    background-color: lighten($pink, 10%) ;
  }
  div.micro-ticker[color="non-mcq-4"]{
    background-color: lighten($orange, 10%) ;
  }
  div.micro-ticker[color="non-mcq-5"]{
    background-color: lighten($orange, 0%) ;
  }
  div.micro-ticker[color="non-mcq-6"]{
    background-color: lighten($green, 13%) ;
  }
  div.micro-ticker[color="non-mcq-7"]{
    background-color: saturate($green, 50%) ;
  }

  div.micro-ticker[color="mcq-1"]{
    background-color: lighten($blue, 50%) ;
  }
  div.micro-ticker[color="mcq-2"]{
    background-color: lighten($blue, 40%) ;
  }
  div.micro-ticker[color="mcq-3"]{
    background-color: lighten($blue, 30%) ;
  }
  div.micro-ticker[color="mcq-4"]{
    background-color: lighten($blue, 20%) ;
  }

#build-quiz-receipt, #assign-quiz-receipt {
  width: 90% ;
  min-height: 100px ;

  .big-ticker {
    width: 50% ;
    min-height: 30px ;

    > .ticker-display-value {
      font: {
        size: 25px ;
      }
      color: $my-blue ;
      margin-bottom: 5px ;
    }
    
    > .ticker-margin-note {
      font: {
        size: 13px ;
      }
      text-transform: lowercase ;
      color: white ; 
    }
  }

}

.subpart-tags {
  width: 100% ;
  min-height: 50px ;

  > li {
    margin-right: 10px ;
  }

  > li.marks {
    width: 60% ;
    float: left ;
  }

  > li.length {
    float: right ;
  }
}

#workbench-controls {
  > form {
    min-width: 40% ;

    > li {
      float: left ;
    }
  }
}

.filters {
  max-width: 70% ;
  margin-right: 30px ;

  > label {
    color:$my-blue;
    font: {
      size: 12px ;
    }
    float:left ;
    margin-left: 5px ;
  }
  
  > input[type="checkbox"] {
    float:left ;
  }
}

#mainstage {
  margin-top: 50px ;
  min-height: 300px ;
  font-size: 13px ;
  letter-spacing: 0.4px ; 
}

#sign-in-form {

  > form {
    min-height: 80px ;
    width: 100% ;
  }

  fieldset.inputs {
    width: 90% ;
    float: left ;

    li {
      min-width: 40% ;
      margin-right: 20px ;

      > input[type="text"], > input[type="password"] {
        padding: 8px ;
        font-size: 16px ;
        width: 90% ;
        border: {
          radius: 5px ;
          style: solid ;
          width: 1px ;
        }
        -moz-border-radius: 5px ;
        background: white ;
      }

      > label { 
        float: none ;
        margin-bottom: 5px ;
        font: {
          size: 17px ;
          weight: normal ;
        }
        color: $my-blue ; 
      } 

    }

    input[type="submit"] {
      margin-top: 27px ;
      width: 12% ;
      font-size: 15px ;
    }

  }
}

#try-us, #new-course { 
  form {
    input[type="submit"] {
      float: right ;
      min-width: 50% ;
    }
    
    li {
      > label { 
        width: 100% ;
        font-size: 12px ;
        margin-bottom: 3px ;
        text-transform: lowercase ;
      } 
    }
  }
}

#new-course { 
  form { 
    > div {
      min-height: 40px ;
      margin-bottom:10px ;
      fieldset { 
        width: 75% ;
        float: left ;
      } 
    }
  } 
}

.orange-submit-btn {
  border: {
    style: none ;
    radius: 5px;
  }
  font: {
    family: inherit ;
    weight: bold ;
    size: 15px ;
  }
  color: $gray ; 
  background-color: $orange ; 
  padding: 8px 6px 8px 6px ;
  text: {
    align: center ;
    decoration: none ;
  }
  height: 40px ;
}

#about-us {

  margin-top: -20px ;

  > #question {
    width: 100% ;
    font-size: 14px ;
    color: $my-blue ;
    > p {
      font-size: 14px ;
      color: darken(white, 15%) ;
      > a {
	    color: $my-blue ;
	  }
	}
  }
}

.half-column { 
  width: 45% ;
  margin-right: 5% ;
} 

.one-third-column {
  width: 32% ;
  margin: {
    right: 4% ;
    bottom: 20px ;
  }
}

.two-third-column {
  width: 63% ;
  margin: {
    right: 4% ;
    bottom: 20px ;
  }
}

#how-it-works {
  width: 100% ; 

  > .half-column {
    > .step {
      width: 100% ;
      min-height: 70px ;
      margin-bottom: 7% ;

      > img { 
        float: left ; 
      } 

      > .right { 
        width: 55% ;
        font-size: 13px ;
        color: white ; 
        text-align: left; 
        margin: { 
          left: 5px ;
          top: 12px ;
        }
      }
    }
  }

}

#scanbot-image {
  max-width: 40% ;
  + .left {
    max-width: 65% ;
    margin-left: 30px ;
  }
}

#scanbot-manual {
  margin-top: -30px ;
  > * {
    width: 100% ;
    min-height: 30px ;
  }

  h4 {
    font: {
      weight: normal ;
    }
    color: $orange ;
  }

  p {
    font: {
      weight: normal ;
    }
    color: white ;
  }
} 

#scanbot-getting-it {
  a {
    background-color: $my-blue ;
    width: 85% ; 
    height: 45px ;
    color: white ;

    border: {
      radius: 7px ;
      style: none ;
    }
    font-size: 14px ;

    text: {
      transform: lowercase ;
      align: center ;
      decoration: none ;
    }
    padding-top: 15px ;
  }
  margin-bottom: 15px ;
}

  > #instruction {
    margin: {
      top: 5% ;
      right: 5% ;
    }
    float: right ;
    width: 45% ;
    font-size: 14px ;
    color: darken(white, 15%) ;
  }

#recover-password {
  float: none ;
  width: 20% ;
  margin: {
    left: 40% ;
  }
  > a { 
    text-decoration: none ;
    font-size: 13px ;
    color: $my-blue ;
    text-transform: lowercase ;
  } 
}

#video-titles {
  width: 30% ;
  color: white ;

  > #video-links {
    margin-top: 30px ;
    > a {
      text: {
        decoration: none ;
        transform: lowercase ;
      }
      color: white ; 
      font-size: 14px ;
      width: 95% ;
      float: right ;
      padding: 4px 3px 4px 3px ;
      border-radius: 8px ;
      background-color: $my-blue ;
      margin-bottom: 16px ;
      text-align: center ;
    }
  }
}

#embedded-video {
  width: 65% ;
  min-height: 700px ;
  margin-top: -50px ;
}

#preview-navigation {
  min-height: 50px ;
  width: 90% ;
  margin-bottom: 14px ;

  > .ticker {
    margin-top: 5px ;
  }
}

li {
  > label {
    color: $my-blue ;
  }
}

.as-accordion {
  .scroll-heading {
    border-bottom: 1px solid $my-blue ; 
    padding: {
      top: 5px ;
      bottom: 5px ; 
      left: 25px ;
    }
    color: white ;
    cursor: pointer ;
  }

  > form {
    min-height: 300px ;
  }
}

.as-accordion > .scroll-content.ui-accordion-content {
  width: 100% ;
  padding: 0pt ;
  min-height: 150px ;
  background: transparent ;

  > .swiss-knife {
    color: $my-blue ;
    margin-top: 4px ;
    // border: none ;
    font-size: 12px ;
  }

  > .swiss-knife.selected {
    color: #ffa500 ;
  }

  > a { 
    color: $my-blue ;
    float: left ;
    width: 100% ;
    text-align:center ;
  } 
}

#try_us-link {
  color: $my-blue ;
}

#past-quizzes-list a.btn {
  width: 40% ;
  font-size: 12px ;
  color: white ; 
  background-color: $my-blue ;
  border-radius: 10px ;
  margin: {
    left: 23px ;
    top: 10px ;
    bottom: 20px ;
  }
}

#trial-user-signup {
  > div {
    width: 97% ; 
    
    > li {
      margin: 0px ;
      padding: 0.2em 0em ;

      input, select {
        padding: 6px 9px;
        font-size: 13px ;
        width: 100% ;
        border-radius: 0px ;
      }
    }
  }
}

#try-us-icon {
  margin-top: -20px ;
}

#try-us-next-steps {
  margin-left: -100px ;
  width: 35% ;

  > .step { 
    width: 100% ;
    height: 90px ;
    margin-bottom: 10px ;

    .text {
      font-size: 13px ;
      color: white ; 
      margin: {
        top: 5px ;
        left: 8px ;
      }
      max-width: 91% ;
    }
  }
}

#trial-registration-success {
  #thumbs-up {
    margin-left: 10px ;
  }

  > .two-third-column {
    margin-left: -100px ;
    h2 { 
      color: $my-blue ;
    }

    p {
      font-size: 14px ;
      text-align: justify ;
      color: white ;
    }
  }
}

.browser-icon {
  min-width: 100px ;
  margin-top: -10px ;
  > img { 
    float: none ;
  } 

  > a { 
    width: 100% ;
    float: left ;
    text-transform: lowercase ;
  }
} 

#courses-summary { 
  margin-top: 53px ;
} 

#question-options { 
  .scroll-content {
    input[type="button"] {
      background-image: url('cog_16x16.png') no-repeat ;
    }
  }
}
