
.left { 
  float : left ;
}

.middle { 
  float : left ; 
  margin-left : 30% ;
} 

.right { 
  float : right ;
} 

li.code, p.code {
  font-size : 12px ;
  font-family : monospace ;
}

.new-entity, .update-entity { 
  font-size : 13px ;
} 

#visible-active-area { 
  padding : 20px ;
} 

fieldset.inputs li.boolean.input { 
  font-size : 12px ;
  text-transform : lowercase ;
  float : left ;
} 

/*
.slim { 
  width : 32.3% ; 
  color : #654b24 ; 
} 
*/

.wide { 
  width : 65% ;
} 

.inline-label { 
  margin-right : 5px ;
  font-variant : small-caps ;
  font-size : 12px ;
  font-weight : normal ;
} 

.search-form, .search-parameters, .search-results { 
  min-height : 80px ;
} 

.search-inputs {
  min-height : 25px ;
}

.inline-error > .heading {
  font-size : 14px ;
  color : #ffa500 ; 
  text-transform : lowercase ;
  font-weight : normal ;
} 

.inline-error > .description {
  font-size : 12px ;
  color : #6ca7ab ;
  text-transform : lowercase ;
} 

.sortable { 
  min-height : 30px ;
} 

.panel:not([class~="horizontal"]) {
  padding-top : 20px ;
  /*-moz-border-radius : 5px ;
  border-radius : 5px ;*/
  min-height : 400px ;
} 

.main-link, .minor-link {
  text-decoration : none ;
  text-transform : lowercase ;
  float : left ;
} 

.main-link[selected], .minor-link[selected] {
  padding-bottom: 4px ;
  border-bottom : 2px solid #6ca7ab ;
  outline: 0 ;
}

.no-bullets, ul.sortable {
  list-style-type : none ;
} 

.main-link { 
  font-size : 16px ;
  text-align : left ;
  font-weight : normal ; 
  margin-right : 30px ;
  color : white ;
} 

.minor-link { 
  font-size : 14px ;
  text-align : center ;
  color : #ffa500 ;
} 

.panel:not([id="control-panel"][class="no-style"]) form input[type="submit"] {
  margin-bottom : 15px ;
}


#logout-anchor > a { 
  float : right ;
  margin-right : 50px ; 
  color : #ffa500 ;
} 

#minor-links { 
  margin-right : 4% ;
} 

#minor-links a { 
  margin-right : 20px ;
} 

.dropdown { 
  list-style-type : none ;
} 

#minor-links label { 
  font-size : 12px ;
  text-align : left ; 
  margin-right : 4px ;
  color : white ;
}

.dropdown select { 
  margin-right : 8px ;
} 

.nail-file {
  min-height : 20px ;
  padding-top : 3px ;
}

.nail-file > a[type] {
  font-size : 13px ;
  text-decoration : none ;
  -moz-border-radius : 4px ;
  border-radius : 4px ;
  padding : 6px ;
  font-weight : normal ;
  color : white ;
  min-width : 70px ;
  text-align : center ;
  margin-bottom : 18px ;
}

.nail-file > a[type="quiz-download"] {
  background-color : #6ca7ab ;
}

.nail-file > a[type="test-download"] {
  font-size : 12px ;
  font-weight : normal ;
  /*color : #7ea974 ; */
  color : #6ca7ab ; 
  margin-top : 2px ;
  margin-bottom : 0px ;
  width : 70% ;
  float : left ;
  padding : 1px ;
  -moz-border-radius : 0px ; 
  border-radius : 0px ;
  font-weight : normal ;
}

.nail-file > a[type="preview"] {
  background-color : #7ea974 ; 
}

.radio-column, .checkbox-column, .line-item, .cbox-label-select {
  font-size : 13px ; 
  text-transform : lowercase ;
} 

.cbox-label-select {
  padding-top : 3px ;
  min-height : 27px ;
}

/*
form > .controls {
  margin-bottom : 13px ;
  min-height : 20px ;
} 

form > .controls > input {
  font-size : 13px ;
  font-family : "Trebuchet MS" ;
  color : white ;
  background : #6ca7ab ;
  font-weight : normal ;
  padding : 8px ;
  -moz-border-radius : 5px ;
  border-radius : 5px ;
}
*/

legend {
  margin-top: -10px ;
  margin-bottom: 30px ;
} 

legend > span.target { 
  font-size : 14px ;
  font-weight : normal ;
  color : #ffa500 ;
  margin-right: 20px ;
} 

legend > span.operation { 
  text-transform : lowercase ; 
  font-size : 13px ;
  color : #654b24 ;
} 

legend > a { 
  font-size : 13px ; 
  text-decoration : none ; 
  margin-right : 8px ;
} 

.colored, .light-orange, .light-green { 
  color : white ; 
  -moz-border-radius : 10px ; 
  border-radius : 10px ;
  font-weight : normal ;
} 

.colored { 
  background-color : #6ca7ab  ;
} 

.light-orange {
  background-color : #f69518 ;
} 

.light-green {
  background-color : #72ab65 ;
} 

.traffic-light > img { 
  margin-right : 30px ;
} 

#yardsticks-icon-table {
  min-height : 25px ;
  font-size : 13px ; 
  font-weight : normal ;
  font-variant : small-caps ;
  border-bottom : 2px solid #654b24 ;
  margin-bottom : 20px ;
} 

#yardsticks-icon-table > #insights { 
  margin-left : 15px ;
} 

#yardsticks-icon-table > #formulation { 
  margin-left : 17px ;
} 

#yardsticks-icon-table > #calculation { 
  margin-left : 17px ;
} 

.samurai-armory .accordion-heading, .as-accordion .accordion-heading {
  border : none ;
  border-bottom : 1px solid #6ca7ab ;
  font-size : 13px ;
  padding-bottom : 5px ;
}

.samurai-armory .accordion-heading > .footnote {
  font-size : 11px ;
  color : #6ca7ab ;
  text-transform : lowercase ;
}

.samurai-armory .accordion-content, .as-accordion .accordion-content { 
  font-size : 12px ;
  border : none ;
  border-bottom : 1px solid #6ca7ab ;
} 

.samurai-armory .checkbox {
  margin-right : 10px ;
}

.samurai-armory .checkbox-row, .samurai-armory .button-row, .samurai-armory .select-row { 
  min-height : 25px ;
  margin-bottom : 6px ;
} 

.flipchart a { 
  text-decoration : none ;
}

.flipchart form.formtastic li.select > label {
  width : 50% ;
}


