
body {
  font-family : "Trebuchet MS", Helvetica, Arial, sans-serif ; 
  width : 1120px ;
} 

#visible-active-area { 
  padding : 20px ;
} 

fieldset.inputs li.boolean.input { 
  font-size : 12px ;
  text-transform : lowercase ;
  float : left ;
} 

.slim { 
  width : 32.3% ; 
  color : #654b24 ; 
} 

.wide { 
  width : 65% ;
} 

.inline-label { 
  margin-right : 5px ;
  font-variant : small-caps ;
  font-size : 12px ;
  font-weight : bold ;
} 

.search-form, .search-parameters, .search-results { 
  min-height : 80px ;
} 

.search-inputs {
  min-height : 25px ;
}

.inline-error > .heading {
  font-size : 14px ;
  color : #fd9105 ; 
  text-transform : lowercase ;
  font-weight : bold ;
} 

.inline-error > .description {
  font-size : 12px ;
  color : #6ca7ab ;
  text-transform : lowercase ;
} 

.sortable { 
  min-height : 30px ;
} 

.panel:not([class~="horizontal"]) {
  padding-top : 20px ;
  /*-moz-border-radius : 5px ;
  border-radius : 5px ;*/
  min-height : 400px ;
} 

.main-link, .minor-link {
  text-decoration : none ;
  text-transform : lowercase ;
  float : left ;
} 

.main-link[selected], .minor-link[selected] {
  border-bottom : 2px solid #6ca7ab ;
}

.no-bullets, ul.sortable {
  list-style-type : none ;
} 

.main-link { 
  font-size : 16px ;
  text-align : left ;
  font-weight : bold ; 
  margin-right : 15px ;
  color : white ;
} 

.minor-link { 
  font-size : 14px ;
  text-align : center ;
  color : #fd9105 ;
} 

.panel:not([id="control-panel"][class="no-style"]) form input[type="submit"] {
  margin-bottom : 15px ;
}

#control-panel { 
  padding-top : 20px ;
  height : 100px ;
  background-color : #654b24 ;
  /*-moz-border-radius : 4px ;
  border-radius : 4px ; */
} 

#logout-anchor > a { 
  float : right ;
  margin-right : 50px ; 
  color : #fd9105 ;
} 

#control-panel > #main-links, #control-panel > #minor-links { 
  list-style-type : none ;
  min-height : 40px ;
} 

#minor-links { 
  margin-right : 4% ;
} 

#minor-links a { 
  margin-right : 20px ;
} 

.dropdown { 
  list-style-type : none ;
} 

#minor-links label { 
  font-size : 12px ;
  text-align : left ; 
  margin-right : 4px ;
  color : white ;
}

.dropdown select { 
  margin-right : 8px ;
} 

.swiss-knife { /* stand-alone */ 
  min-height : 25px ;
  border-bottom : 1px solid #6ca7ab ;
  padding-top : 3px ;
} 

.as-accordion .swiss-knife { /* when within an accordion */
  min-height : 17px ;
  border : none ;
}

.swiss-knife > .label {
  margin-left : 5px ;
}

.radio-column, .checkbox-column, .line-item, .cbox-label-select, .swiss-knife { 
  font-size : 13px ; 
  text-transform : lowercase ;
} 

.cbox-label-select {
  padding-top : 3px ;
  min-height : 27px ;
}

#schools-summary { 
  padding-left : 20px ;
} 

legend { 
  border-bottom : 2px solid gray ;
  margin-bottom : 20px ;
  margin-top : 20px ;
} 

form > .controls {
  margin-bottom : 13px ;
  min-height : 20px ;
} 

form > .controls > input {
  font-size : 13px ;
  font-family : "Trebuchet MS" ;
  color : white ;
  background : #6ca7ab ;
  font-weight : bold ;
  padding : 4px ;
  -moz-border-radius : 5px ;
}

legend > span.target { 
  text-transform : uppercase ; 
  font-size : 15px ;
  font-weight : bold ;
  color : #fd9105 ;
} 

legend > span.operation { 
  text-transform : lowercase ; 
  font-size : 13px ;
  color : #654b24 ;
} 

legend > a { 
  font-size : 13px ; 
  text-decoration : none ; 
  margin-right : 8px ;
} 

.colored, .light-orange, .light-green { 
  color : white ; 
  -moz-border-radius : 10px ; 
  border-radius : 10px ;
  font-weight : bold ;
} 

.colored { 
  background-color : #6ca7ab  ;
} 

.light-orange {
  background-color : #f69518 ;
} 

.light-green {
  background-color : #72ab65 ;
} 

.traffic-light > img { 
  margin-right : 30px ;
} 

#yardsticks-icon-table {
  min-height : 25px ;
  font-size : 13px ; 
  font-weight : bold ;
  font-variant : small-caps ;
  border-bottom : 2px solid #654b24 ;
  margin-bottom : 20px ;
} 

#yardsticks-icon-table > #insights { 
  margin-left : 15px ;
} 

#yardsticks-icon-table > #formulation { 
  margin-left : 17px ;
} 

#yardsticks-icon-table > #calculation { 
  margin-left : 17px ;
} 

.samurai-armory .accordion-heading, .as-accordion .accordion-heading {
  border : none ;
  border-bottom : 1px solid #6ca7ab ;
  font-size : 13px ;
  padding-bottom : 5px ;
}

.samurai-armory .accordion-heading > .footnote {
  font-size : 11px ;
  color : #6ca7ab ;
  text-transform : lowercase ;
}

.samurai-armory .accordion-content, .as-accordion .accordion-content { 
  font-size : 12px ;
  border : none ;
  border-bottom : 1px solid #6ca7ab ;
} 

.samurai-armory .checkbox {
  margin-right : 10px ;
}

.samurai-armory .checkbox-row, .samurai-armory .button-row, .samurai-armory .select-row { 
  min-height : 25px ;
  margin-bottom : 6px ;
} 



