
.tile {
  margin-bottom: 20px ;
  cursor: pointer ;
  height: 100px ;
  padding: {
    top: 25px ;
    bottom: 15px ;
    left: 15px ;
    right: 15px ;
  }
  border: none ;
  border-radius: 11px ;
  background: rgba(43,43,43,0.5) ;
  &:hover { 
    background: rgba(56,188,255,0.5) ;
    .sub-tile { 
      background: rgb(43,43,43) ;
    }
  }
  
  .name {
    font-size: 14px ;
  }
  .author {
    font-size: 10px ;
  }

  .sub-tile {
    height: 40px ;
    padding: 7px ;
    text-align: center ; 
    border: { 
      style: none ;
      radius: 8px ;
    } 
    background: rgba(56,188,255,0.5) ;
    font-size: 10px ;

    > .num_lessons, > .num_quizzes {
      font-size: 15px ;
    }
  } 
}
