/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#chart, #names {
  overflow-x: auto ;
  margin-right: 0px ;
}

#heat {
  margin-left: 0px ;
  overflow-x: auto ;
}
/*
.chart rect.bordered {
  stroke: #E6E6E6 ;
  stroke-width: 2px ;
}
*/

.chart .legend {
  fill: black ;
  font: 14px sans-serif ;
  text-anchor: start ;
  font-size: 12px ;
}

.chart text {
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
