/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#chart, #names {
  overflow-x: auto ;
  margin-right: 0px ;
}

#heat {
  margin-left: 0px ;
  overflow-x: auto ;
}

rect.bordered {
  stroke: #E6E6E6 ;
  stroke-width: 2px ;
}

