
$blue:#00007f ;
$orange:#f48d07 ;
$green:#168816 ;
$purple:#3a4d4e ;
$black:black ;
$red:red ;
$gray:#191919 ;
$pink:#e3105a ;
$yellow: #ffff00 ;
$light-gray: lighten($gray, 30%) ;

// Vertical jQuery tabs via CSS 
// Reference: http://keith-wood.name/uiTabs.html#tabs-nobg

.vertical-tabs {
  position: relative ;
  padding-left: 6.5em ;

  ul.ui-tabs-nav {
    border: transparent ;
    position: absolute ;
    left: 0.25em ;
    top: 0.25em ;
    bottom: 0.25em ;
    width: 10% ;
    padding: 0.2em 0 0.2em 0.2em ;

    li {
      right: 1px ;
      width: 50px ;
      border: {
        right: none ;
        bottom-width: 1px !important ;
        radius: 4px 1px 1px 4px ;  
      }
      -moz-border-radius: 4px 1px 1px 4px ; 
      -webkit-border-radius: 4px 1px 1px 4px ; 
      overflow: hidden ;
      margin-bottom: 5px ;

      > a {
        color: white ;
        padding: 0.5em 10px ;
      }
    }

    li.ui-tabs-selected {
      background: transparent;
      color: #fd9105 ;
      border: 1px solid #fd9105 ;
      margin-bottom: 5px ;
    }

    a {
      float: right ;
      width: 20% ;
      text-align: center ;
    }

  }

  > div {
    height: 35em ;
    float: right ;
    margin-left: 15% ;
    padding-right: 0px ;

    h4 { 
      font-size: 14px ;
      color: #6ca7ab ;
      font-weight: normal ;
      padding-bottom: 8px ;
      border-bottom: 1px solid #6ca7ab ; 
    }

    p {
      text-align: justify ;
      font-size: 12px ;
      color: white ;
    }

    div.header {
      min-height: 30px ;
      a {
        text-decoration:none ;
        font-size: 12px ;
        font-weight: bold ;
        float: left ;
        color: #6ca7ab ;
      }
      h4 {
        float: right ; 
        margin-right: 20% ;
        border: {
          radius: 8px ;
          color: gray ;
          style: 2px solid ;
        } 
      } 
    } 
  } // end of <div>

  #tab-ys-0:not([class~="ui-tabs-selected"]) {
    background-color: lighten($pink, 30%)
  }
  
  #tab-ys-1:not([class~="ui-tabs-selected"]) {
    background-color: lighten($pink, 20%);
  }

  #tab-ys-2:not([class~="ui-tabs-selected"]) {
    background-color: lighten($pink, 10%);
  }

  #tab-ys-3:not([class~="ui-tabs-selected"]) {
    background-color: lighten($orange, 10%);
  }

  #tab-ys-4:not([class~="ui-tabs-selected"]) {
    background-color: saturate($orange, 0%);
  }

  #tab-ys-5:not([class~="ui-tabs-selected"]) {
    background-color: lighten($green, 13%);
  }

  #tab-ys-6:not([class~="ui-tabs-selected"]) {
    background-color: saturate($green, 50%);
  }

  #tab-ys-7:not([class~="ui-tabs-selected"]) {
    background-color: lighten($blue, 50%);
  }

  #tab-ys-8:not([class~="ui-tabs-selected"]) {
    background-color: lighten($blue, 40%);
  }

  #tab-ys-9:not([class~="ui-tabs-selected"]) {
    background-color: lighten($blue, 30%);
  }

  #tab-ys-A:not([class~="ui-tabs-selected"]) {
    background-color: lighten($blue, 20%);
  }

  #tab-ys-B:not([class~="ui-tabs-selected"]) {
    background-color: lighten($blue, 10%);
  }

  #tab-ys-C:not([class~="ui-tabs-selected"]) {
    background-color: lighten($black, 40%);
  }

}

#edit-yardstick { 
  form.formtastic {
    li.text {
      label {
        width: 90% ;
      }
      textarea {
        width: 90% ;
        border:none ;
        border: {
          top: 2px solid gray ;
          radius: 0px ;
        }
        font: {
          family: monospace ;
          size: 11px ;
        } 

      }
    }
  }
}
