
#m-demo-intro.modal.fade.regular.row-fluid{ :role => :dialog }
  .span3
    = image_tag 'quick-trial/idea.png', :class => 'big-icon'
  .span8
    %h1.blue= "Hello, #{current_account.loggable.first_name}!"
    %p
      If you are new to Gradians.com, we suggest <b>QuickTrial</b> as a way to
      get familiar with how it works
    %ul
      %li
        %p
          QuickTrial gives you a taste of what it is like to use Gradians.com 
          and send student work for grading on a regular basis
      %li
        %p
          If you have access to a pen, a printer and a scanner, then the whole 
          exercise should take less than 10 minutes
      %li
        %p
          Press the button below to start your <b>QuickTrial</b> now
    = simple_button :for => "Launch QuickTrial", :id => 'btn-launch-demo', :class => 'btn-primary push-down pull-right'
      
