
#m-demo-intro.modal.fade.regular.row-fluid{ :role => :dialog }
  .span3
    = image_tag 'quick-trial/idea.png', :class => 'big-icon'
  .span8
    %h1.blue= "Hello, #{current_account.loggable.first_name}!"
    %p
      If you are new to Gradians.com, then might we suggest you try 
      the QuickTrial first
    %ul
      %li
        %p
          QuickTrial lets you experience what it is like to use Gradians.com 
          and send student work for grading on a regular basis
      %li
        %p
          It is a quick overview. If you have access to a pen, a printer and 
          a scanner, then the whole exercise should take less than 10 minutes
      %li
        %p
          Press the button below to start your <b>QuickTrial</b> now
    = simple_button :for => "Launch QuickTrial", :id => 'btn-launch-demo', :class => 'btn-primary push-down pull-right'
      
