
#m-demo-intro.modal.fade.regular.row-fluid{ :role => :dialog }
  .span3
    = image_tag 'quick-trial/idea.png', :class => 'big-icon'
  .span8
    %p.title= "What is it?"   
    %p
      The idea behind QuickTrial is to let you experience first hand 
      what it is like to use Gradians.com and send student work for grading
    %p
      Please note that this would be a quick overview. But nevertheless, you will 
      have a much better sense of what using the site  on a day-to-day basis would entail
    %p 
      If you are ready to start, then press the <b>Lauch QuickTrial</b> button below. 
      We will pretend that you are a teacher with one student
    %p
      If you have a printer and a scanner ready at hand, then the whole exercise should take 
      5-7 minutes to complete
    = simple_button :for => "Launch QuickTrial", :id => 'btn-launch-demo', :class => 'btn-primary push-down pull-right'
      
