
#m-suggestion-upload.modal.fade.hide.medium

  .modal-header 
    %button.close{ "data-dismiss" => "modal", "aria-hidden" => "true"}= "x"
    %h4= "Please upload file containing Question and Solution"
  .modal-body
    #instruction
      %p 
        <small class="text-warning">Do <bold>not</bold> cite references from books, papers etc.</small><br/>
        <small class="text-warning">Most file formats <em>(doc, docx, odt, pdf, jpeg, tiff etc)</em> are accepted</small>
    %form.center{ :id => "suggestiondoc", :enctype => "multipart/form-data" }
      .control-group
        .controls
          %input.required{ :type => :file, :id => "suggestiondoc[inputfile]", :name => "suggestiondoc[inputfile]" , :placeholder => "browse for file" }
          %input{ :type => "hidden" , :name => "authenticity_token" , :value => form_authenticity_token.to_s }
          %button.btn.btn-primary{ :id => "uploadbtn", :type => :button }= "Upload"
    #ackblurb{ :style => "display: none" } 
      %p 
