
%ol.hide{ :id => 'wsb-milestone-3', :data => { :onwards => :true }}
  %li{ :data => { :id => 'wsb-div-milestone-3' } }
    %h6= "#3"
    %p
      These are the students in the selected section. Pick the ones you'd 
      like to make a worksheet for
  %li{ :data => { :id => 'build-worksheet', :options => 'tipLocation:top;nubPosition:bottom' } }
    %h6= "#4"
    %p
      And when you're done picking, click this button to start making the worksheet 
