
%ol.hide{ :id => 'wsb-milestone-2', :data => { :onwards => :true }}
  %li{ :data => { :id => 'wsb-ul-milestone-2' } }
    %h6= "#2"
    %p
      <b>Select a section</b> from the list of sections shown here
    %p
      If you haven't yet made a section of your own, then you would 
      see a default section we created for you - called Gradians
    %p
      Select it if its the only section you see. Gradians has just two 
      students - us - the two founders of Gradians.com. For now, however,
      we are also your students
