
%ol.hide{ :id => 'qzb-milestone-5', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'qzb-div-milestone-5' } }
    %h6= "#5"
    %p
      And here are questions on the selected topic
    %p
      Clicking on a question loads its preview <b>and</b> selects
      it for the quiz. Clicking it again unselects it
    %p
      Note that many questions have multiple versions -  
      that is - each student will get that question with 
      a slightly different set of values
