
%ol.hide{ :id => 'qzb-milestone-4', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'qzb-ul-milestone-4' } }
    %h6= "#4"
    %p
      These are the topics you picked. Click on each to see 
      questions on that topic
