
%ol.hide{ :id => 'qzb-milestone-4', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'qzb-btn-milsetone-4', :options => "tipLocation:top;nubPosition:bottom" } }
    %p= "Click to start seeing questions"
