

%ol.hide{ :id => 'qzb-step-1', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'm-teacher-quizzes', :options => "nextButton:'false';timer:2000" }} 
    %p= "Click here and then select 'new' from the menu"
