

%ol.hide{ :id => 'qzb-milestone-1', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'm-teacher-quizzes' } }
    %p= "Click here and then select 'new' from the menu"
