

%ol.hide{ :id => 'qzb-milestone-1', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'm-teacher-quizzes' } }
    %h6= "#1"
    %p
      Click here and then select <b>new</b> from the menu
