
%ol.hide{ :id => 'qzb-milestone-7', :data => { :enable => 'm-notifications', :onwards => :true }}
  %li{ :data => { :id => 'm-notifications', :options => "tipLocation:bottom;nubPosition:top" } }
    %h6= "#7"
    %p
      When the <b>bell starts to blink</b>, then it means your request for 
      making a PDF of your quiz has been received. Please note that there might 
      be other requests in the queue before yours and that each request takes 
      about 45-60 seconds to process. Click the bell to see the 
      <b>estimated time</b> to completion
