
%ol.hide{ :id => 'qzb-milestone-3', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'qzb-verticals-tab' } }
    %p
      From the list of topics shown alongside, 
      select topics that you want to see questions on <b>by clicking
      on the topic name</b>
    %p
      <b>You can pick topics that are in different verticals</b>.
      Try doing that too
