
%ol.hide{ :id => 'qzb-milestone-3', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'qzb-verticals-tab' } }
    %h6= "#3"
    %p
      Within verticals are <b>topics</b>. For example, these are the topics within 
      the vertical you just selected
    %p
      Select topics you would like to see questions on. 
      To add topics in other verticals, repeat the last step <b>(#2)</b> 
      and then this step <b>(#3)</b>
    %p
      When you are done picking topics, click the <b>Show Questions</b> button above
