
%ol.hide{ :id => 'qzb-milestone-3', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'qzb-verticals-tab' } }
    %h6= "#3"
    %p
      Select topics you would like to see questions on.
      To pick topics from another vertical, click on that 
      vertical and then select topics the way you did now
    %p
      When you are done, click the <b>Show Questions</b> button above
