
%ol.hide{ :id => 'qzb-milestone-3', :data => { :enable => 'm-teacher-quizzes', :onwards => :true }}
  %li{ :data => { :id => 'qzb-verticals-tab' } }
    %h6= "#3"
    %p
      Within verticals are <b>topics</b>. Select the topics 
      you would like to see questions on
    %p
      To add topics in other verticals, select those verticals
      and then pick topics - like you did now
    %p
      When you are done, click the <b>Show Questions</b> button above
