
%ol.hide{ :id => 'qzb-milestone-2', :data => { :enable => 'm-teacher-quizzes' }}
  %li{ :data => { :id => 'qzb-ul-milestone-2' } }
    %h6= "#2"
    %p
      These are the broad areas of study - or <b>verticals</b>.
      Within these verticals are topics you can pick for the quiz.
      We will do that in the next step. For now, click on some 
      verticals to load the list of topics


    
