
%ol.hide{ :id => 'qzb-step-2', :data => { :enable => 'm-teacher-quizzes' }}
  %li{ :data => { :id => 'qzb-help-pt-1', :button => "Got it!" } }
    %p
      These are the broad areas of study - or <b>verticals</b> as we like 
      to call them
    %p
      <b>Within verticals</b> are <b>topics</b>. Depending on what topics you 
      want to cover in a quiz, you will first select verticals - and then topics
    %p
      For now, try clicking on the verticals - shown alongside - and see a list 
      of topics load. When 

  %li{ :data => { :id => 'qzb-verticals-tab', :button => "Got it!" } }
    %p
      From the list of topics shown alongside, 
      select topics that you want to see questions on <b>by clicking
      on the topic name</b>
    %p
      <b>You can pick topics that are in different verticals</b>.
      Try doing that too
    
