
%ol.hide{ :id => 'qzb-milestone-2', :data => { :enable => 'm-teacher-quizzes' }}
  %li{ :data => { :id => 'qzb-ul-milestone-2' } }
    %h6= "#2"
    %p
      Select the broad areas of study - or <b>verticals</b> that 
      you would like to cover in the quiz


    
