
%ol.hide{ id: 'exb-milestone-1', data: { onwards: :true }}
  %li{ data: { id: 'left-1' } }
    %h6= "#1"
    %p
      <b>Select a quiz</b> from the list of quizzes shown here
    %p
      If you see nothing here, then you haven't made a quiz yet. 
      Please ensure that you have made one before proceeding </br>
      <i class='icon-eye-open'></i> <tt> How to > Make a Quiz</tt>
    %p
      Otherwise, click <b>more ...</b> and select <i class='icon-plus-sign'></i> <b>new worksheet</b> 
      from the menu
