
%ul.nav.nav-tabs.always-on
  %li
    = simple_link for: 'Quizzes', href: '#pane-my-quizzes', id: 'tab-my-quizzes'
  %li
    = simple_link for: 'Lessons', href: '#pane-my-lessons', id: 'tab-my-lessons'
  %li
    = simple_link for: 'Reading Material', href: '#pane-my-readings', id: 'tab-my-readings'

.tab-content
  #pane-my-quizzes.tab-pane
  #pane-my-lessons.tab-pane
  #pane-my-readings.tab-pane
