
%ul.nav.nav-tabs.always-on
  %li
    = simple_link for: "Group", id: "tab-dive-1", href: '#pane-dive-1'
  %li
    = simple_link for: "By Topic", id: "tab-dive-2", href: '#pane-dive-2'
  %li
    = simple_link for: "By Student", id: "tab-dive-3", href: '#pane-dive-3'

.tab-content
  #pane-dive-1.tab-pane

  #pane-dive-2.tab-pane
    = render partial: 'topics/selector', locals: { context: :deepdive, onepane: true }
  #pane-dive-3.tab-pane

