-# Variable teacher comes from the layout file 

- t = current_account.loggable

%ul.nav.nav-tabs
  %li
    = simple_link for: "Quizzes", href: '#pane-exb-quizzes', id: 'tab-exb-quizzes', reload: true
  %li
    = simple_link for: 'Assignments', href: '#pane-exb-existing', id: 'tab-exb-existing'
  %li
    = simple_link for: "Make New", href: '#pane-exb-sektions', id: 'tab-exb-sektions'

.tab-content
  #pane-exb-quizzes.tab-pane.scroll
  #pane-exb-existing.tab-pane.scroll
  #pane-exb-sektions.tab-pane.scroll
    = render partial: 'teachers/uni/exb-sektions', locals: { teacher: t }

    
