-# Variable teacher comes from the layout file 

%ul.nav.nav-tabs
  %li
    = simple_link for: "Worksheets", href: '#pane-tc-rc-1', 
      id: 'tab-tc-rc-1', class: 'nopurge-ever'
  %li
    = simple_link for: "Overall", href: '#pane-tc-rc-2', 
      id: 'tab-tc-rc-2', class: 'nopurge-on-inactive' 
  %li
    = simple_link icon: 'icon-search', href: '#pane-tc-rc-3', id: 'tab-tc-rc-3'

.tab-content
  #pane-tc-rc-1.tab-pane.scroll.reissue-ajax
  #pane-tc-rc-2.tab-pane.scroll
    .row-fluid.navbar.purge-skip
      .pull-right
        = simple_link for: 'Download', id: 'lnk-rc-download',
          class: 'btn btn-inverse', 
          url: { self: "ws/report_card?id=:a&format=csv" }
  #pane-tc-rc-3.tab-pane

